{ #layout_header }
{ #menu_gnb }

<script type="text/javascript">
    $(function(){
        sbi_init();
    })

    function sbi_init() {
        jQuery(function ($) {
            var tocken = "1422047775.98a9970.9676e68d23dd45c083ce1ecb42d976a8"; /* Access Tocken 입력 */
            var count = "100";
            $.ajax({
                type: "GET",
                dataType: "jsonp",
                cache: false,
                url: "https://api.instagram.com/v1/users/self/media/recent/?access_token=" + tocken + "&count=" + count,
                success: function (response) {
                    if (response.data.length > 0) {
                        for(var i = 0; i < 100; i++) {
                            var li_css = "";
                            if((i+1)%5 == 0){
                                li_css = "right";
                            }

                            var insta = "<li class='" + li_css + "'>";
                            insta += "<a target='_win_1' href='" + response.data[i].link + "'>";
                            insta += '<img src="' + response.data[i].images.standard_resolution.url + '">';
                            if ( response.data[i].caption !== null ) {
                                insta += "<div class='caption-layer'>";
                                if ( response.data[i].caption.text.length > 0 ) {
                                    insta += "<p class='insta-caption'>" + response.data[i].caption.text + "</p>"
                                }
                                insta += "<span class='insta-likes'>" + response.data[i].likes.count + " Likes</span>";
                                insta += "</div>";
                            }
                            insta += "</a>";
                            insta += "</li>";

                            $("#sns_wrap").append(insta);
                        }
                    }
                }
            });
        });
    }
</script>
<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/diary/special">Goldendrop Mom's Diary</a><span>/</span><strong>Happy Diary</strong>
    </div>
    <section id="diary" class="page_wrap">
        <div class="container">
            <div class="tab-contents on">
                <div class="thumb_list happydiary">
                    <ul class="col3 sns_instar" id="sns_wrap" name="sns_wrap">

                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>


{ #layout_footer }