{ #layout_header }
{ #menu_gnb }

<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/diary/special">Goldendrop Mom's Diary</a><span>/</span><strong>Smart Diary</strong>
    </div>
    <section id="diary" class="page_wrap">
        <div class="container">
            <!--<div class="page_top">-->
                <!--<h4 style="margin-bottom:0">Smart Diary</h4>-->
            <!--</div>-->
            <!--<hr>-->
            <div class="thumb_list smartdiary">
            	<form class="frmEstimate" name="search_frm" id="search_frm"  method="get" action="/diary/smart">
                <div class="list_search">
                    <div class="select ipt_box sz_s">
                        <span>전체</span>
                        <select name="search_gubun" id="search_gubun" class="">
                            <option value="" {? search_gubun==""}selected="selected"{/}>전체</option>
                            {@ code_list}
                            <option value="{.C_CODE_PA}" {? .C_CODE_PA==search_gubun}selected{/}>{.C_CODE_TXT}</option>
                            {/}
                        </select>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            var _txt = $("#search_gubun option:selected").text();
                            if(_txt){
                                $(".select span").html(_txt)
                            }
                        })
                    </script>

                    
                    <a href="#"  onclick="search_url();" class="btn btn_inner"><span>조회</span></a>
                </div>
                </form>
                <ul class="col3">
                	{@ list}
                    <li style="cursor:pointer" onclick="javascript:move_url('{.DM_IDX}');" {?((.index_+1)%3)==0}class="right"{/}>
                        <a href="#">
                            <span class="date">No. {start_no-.index_} <span>{=substr(.DM_CREDATE, 0, 10)}</span><span style="float: right">작성자 : {.DM_ID}</span></span>
                            <span class="img"><img src="http://dartz.swtown.co.kr{.DM_PATH}{.DM_FILENAME}" alt="" style="width: 310px; height: 240px;"></span>
                            <span class="sort">{.smart_type_txt}</span>
                            <?
                                $content_tag = strip_tags({.DM_TITLE});
                                $content_len = mb_strlen( $content_tag );
                                $content_text = mb_substr($content_tag,0,42,"utf-8");

                                if($content_len > 42){
                                    echo "<span class='tit'>$content_text...</span>" ;
                                }else{
                                    echo "<span class='tit'>$content_tag</span>" ;
                                }
                            ?>
                        </a>
                    </li>
                    {/}
                </ul>
            </div>
            {pagination}
        </div>
    </section>

    <form class="frmMod" action="/diary/smart_view" method="get">
        <input type="hidden" name="per_page" id="per_page" value="{per_page}">
        <input type="hidden" name="search_gubun" value="{search_gubun}">
        <input type="hidden" name="dm_idx" id="dm_idx" value="">
    </form>

</article>
<script type="text/javascript">
    function move_url(idx) {
        $('#dm_idx').val(idx);
        $('.frmMod').submit();
    }
    function search_url() {
        $('#search_frm').submit();
    }
</script>

{ #layout_footer }