{ #layout_header }
{ #menu_gnb }

<article id="contents">
	<div class="location">
		<a href="/">Home</a><span>/</span><a href="/diary/special">Goldendrop Mom's Diary</a><span>/</span><strong>Special Diary</strong>
	</div>
	<section id="diary" class="page_wrap">
		<div class="container">
			<!--<div class="page_top">-->
				<!--<h4 style="margin-bottom:0">Special Diary</h4>-->
			<!--</div>-->
			<!--<hr>-->
			<div class="thumb_list">
				<ul class="hor_list">
					{@ list}
					<li>
						<a href="javascript:move_url('{.DS_IDX}');" class="imgwrap"><span class="img"><img src="http://dartz.swtown.co.kr{.DS_PATH}{.DS_FILENAME}" alt=""  style="width: 360px; height: 160px;"></span></a>
						<div class="incont">
							<a href="javascript:move_url('{.DS_IDX}','{start_no-.index_}');" style="cursor:pointer">
								<span class="date gd">No. {start_no-.index_} <span>{=substr(.DS_CREDATE, 0, 10)}</span></span>
								<span class="tit bk">{.DS_TITLE}</span>
								<?
								 	$content_tag = strip_tags({.DS_CONTENT});
									$content_len = mb_strlen( $content_tag );
									$content_text = mb_substr($content_tag,0,162,"utf-8");

									if($content_len > 168){
										echo "<span class='txt'>$content_text...</span>" ;
									}else{
										echo "<span class='txt'>$content_tag</span>" ;
									}

								?>
							</a>
						</div>
					</li>
					{/}
				</ul>

				{pagination}

			</div>
			
		</div>
	</section>

	<form class="frmMod" action="/diary/special_view" method="get">
		<input type="hidden" name="per_page" id="per_page" value="{per_page}">
		<input type="hidden" name="ds_idx" id="ds_idx" value="">
		<input type="hidden" name="ds_no" id="ds_no" value="">
	</form>

</article>
<script type="text/javascript">
    function move_url(idx,ds_no) {
        $('#ds_idx').val(idx);
        $('#ds_no').val(ds_no);
        $('.frmMod').submit();
    }
</script>
{ #layout_footer }