<div class="utilmenu">
        <a href="/search/index" class="btn_srch line"><span>SEARCH</span>
        {? !isMember }
        <a href="/login/index" class="btn_log line"><span>LOGIN</span></a>
        <a href="/join/" class="btn_join"><span>JOIN</span></a>
        {:}
        <a href="/my/" class="btn_mypage line"><span>MY PAGE</span></a>
        <a href="/login/logout" class="btn_log"><span>LOGOUT</span></a>
        {/}

</div>