{? trial=="Y"}
	<h5>결제 정보</h5>
	<div class="tb">
	    <table>
	        <tbody>
	            <tr>
	                <td class="price">
	                    <div class="row">
	                        <strong>금액</strong>
	                        <span>{=number_format(PD_PRICE)}원</span>
	                    </div>
	                </td>
	            </tr>
	            <tr>
	                <td class="amount">
	                   <div class="row">
	                        <strong>수량</strong>
	                       <span>1캔</span>
	                   </div>
	                    <p class="txt">(1회구매는 1캔만 주문 가능 합니다)</p>
	                </td>
	            </tr>
	            <tr>
	                <td class="total">
	                    <div class="row">
	                        <strong>총 결제 금액</strong>
	                        <span>{=number_format(PD_PRICE)}원</span>
	                    </div>
	                    <p class="txt">결제 금액의 10%를 포인트로 적립해 드립니다.<br>정기 배송 주문은 모두 무료배송 됩니다.</p>
	                    {? type=="P"}
	                    <a href="javascript:f_cert();" class="button btn_next"><span>주문하기</span></a>
	                    <a href="javascript:history.back();" class="button btn_line"><span>주문하기 수정</span></a>
	                    {:}
	                    <a href="javascript:frm_submit();" class="button btn_next"><span>주문하기</span></a>
	                    {/}
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
{:}
   <h5>결제 정보</h5>
    <div class="tb">
        <table>
            <tbody>
                <tr>
                    <td class="price">
                        <div class="row">
                            <strong>금액</strong>
                            <span>{=number_format(PD_PRICE)}원</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="amount">
                        <div class="row">
                            <strong>수량</strong>
                            <span>3캔</span>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td class="delivery_price">
                        <div class="row">
                            <strong>정기 배송 1회당 구매 금액</strong>
                            <span>{=number_format(PD_PRICE*3)}원</span>
                        </div>
                        <p class="txt">(정기 배송은 회차별 분할로 자동 결제)</p>
                    </td>
                </tr>
                <tr>
                    <td class="delivery_count">
                        <div class="row">
                            <strong>배송횟수</strong>
                            <span>{count}회</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="total">
                        <div class="row">
                            <strong>총 결제 금액</strong>
                            <span>{=number_format(totalprice)}원</span>
                        </div>
                        <p class="txt">결제 금액의 10%를 포인트로 적립해 드립니다.<br>정기 배송 주문은 모두 무료배송 됩니다.</p>
	                    {? type=="P"}
	                    <a href="javascript:f_cert();" class="button btn_next"><span>주문하기</span></a>
	                    <a href="javascript:history.back();" class="button btn_line"><span>주문하기 수정</span></a>
	                    {:}
	                    <a href="javascript:frm_submit();" class="button btn_next"><span>주문하기</span></a>
	                    {/}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   {/}
