<div class="tb tb_center">
	{? trial=="Y"}
	<table>
	    <colgroup>
	        <col width="650px">
	        <col width="*">
	    </colgroup>
	    <thead>
	        <tr>
	            <th>상품</th>
	            <th>주문금액<span>(1캔)</span></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td class="prd">
	                <span class="img"><img src="/images/sample/pay_prd.png" alt=""></span>
	                <span class="tit pdname">{PD_PRODUCTNAME}</span>
	            </td>
	            <td id="pdprice">{=number_format (PD_PRICE)} 원</td>
	        </tr>
	    </tbody>
	</table>
	{:}
	<table>
        <colgroup>
            <col width="*">
            <col width="95px">
            <col width="215px">
        </colgroup>
        <thead>
            <tr>
                <th>상품</th>
                <th>개별가격</th>
                <th>정기배송 1회당 가격<span>(1회당 3캔)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="prd">
                    <span class="img"><img src="/images/sample/pay_prd.png" alt=""></span>
                    <span class="tit">{PD_PRODUCTNAME}</span>
                </td>
                <td>{=number_format (PD_PRICE)} 원</td>
                <td>{=number_format (PD_PRICE*3)} 원</td>
            </tr>
        </tbody>
    </table>
	{/}
</div>