{ #layout_header }
<script type="text/javascript" src="https://testpg.easypay.co.kr/webpay/EasypayCard_Web.js"></script>
<script language="javascript" src="/assets/js/order_default.js" type="text/javascript"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script src="/assets/js/order_index.js" ></script>  
{ #menu_gnb }
<article id="contents">
        <div class="location">
            <a href="#">Home</a><span>/</span><a href="#">Goldendrop Shop</a><span>/</span><strong>Subscription</strong>
        </div>
        <section id="product" class="page_wrap">
            <div class="container">
        	  <form name="frm_pay" method="post" action="">
                <div class="payment">
                    <h4>배송 정보 및 결제</h4>
                    <section class="prd_list">
                        
                    </section>

                    <section class="payment_info_wrap">
                        <div class="order_info">
                            <h5>주문 선택 정보</h5>
                            <div class="tb">
                                <table>
                                    <colgroup>
                                        <col width="200px">
                                        <col width="*">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>배송 주기</th>
                                            <td>
                                                <select class="ipt_box sz_md">
                                                    <option>{? batch_cycle=="T"}1회 체험 주문{:}{batch_cycle}주 마다{/}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송 횟수</th>
                                            <td>
                                                <select class="ipt_box sz_md">
                                                    <option>{batch_count}회</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>결제일</th>
                                            <td>
                                                <input type="text" name="" class="ipt_box sz_md " id="calendar" placeholder="0000년 0월 0일" value="{=substr(EP_batch_date,0,4)}년 {=number_format(substr(EP_batch_date,4,2))}월 {=number_format(substr(EP_batch_date,6,2))}일">
                                                <script type="text/javascript">
                                                </script>

                                                <p class="txt">
                                                    1회차 정기 배송 주문이 결제되는 날입니다. 결제 후 배송이 시작됩니다.<br>
                                                    1회차 결제일 기준으로 선택하신 내용에 따라 회차 별 정기 결제가 진행됩니다.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>정기 배송 일정</th>
                                            <td>
                                                <div class="delivery_date">
                                                   
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>

                            <h5 class="tit_bot">배송정보</h5>
                            <div class="tb">
                                <table>
                                    <colgroup>
                                        <col width="200px">
                                        <col width="*">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>수령자</th>
                                            <td>
                                                <input type="text" name="EP_batch_user" id="EP_batch_user" value="{member['M_NAME']}" class="ipt_box sz_lg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>휴대전화</th>
                                            <td>
                                                <select class="ipt_box sz_sm" id="pay_hp1" name="pay_hp1">
                                                    <option value="010" {? member['HP'][0]=="010"}selected="selected"{/}>010</option>
                                                    <option value="011" {? member['HP'][0]=="011"}selected="selected"{/}>011</option>
	                                        		<option value="016" {? member['HP'][0]=="016"}selected="selected"{/}>016</option>
                                                </select>
                                                <span class="unit dash"></span>
                                                <input type="text"  id="pay_hp2" name="pay_hp2" value="{member['HP'][1]}" class="ipt_box sz_sm">
                                                <span class="unit dash"></span>
                                                <input type="text"  id="pay_hp3" name="pay_hp3" value="{member['HP'][2]}" class="ipt_box sz_sm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>집전화</th>
                                            <td>
                                                <select class="ipt_box sz_sm" id="pay_cp1" name="pay_cp1">
                                                	<option value="">선택</option>
                                                    {cp_list}
                                                </select>
                                                <span class="unit dash"></span>
                                                <input type="text" id="pay_cp2" name="pay_cp2" value="{member['CP'][1]}" class="ipt_box sz_sm">
                                                <span class="unit dash"></span>
                                                <input type="text" id="pay_cp3" name="pay_cp3" value="{member['CP'][2]}" class="ipt_box sz_sm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th rowspan="3">배송지</th>
                                            <td class="line_dash">
                                                <input type="text" name="EP_batch_post" id="EP_batch_post" value="{member['M_POST']}" class="ipt_box sz_sm">
                                                <a href="javascript:get_post();" role="button" class="btn_inner">우편번호 검색</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="line_dash">
                                                <input type="text" name="EP_batch_addr1" id="EP_batch_addr1" value="{member['M_ADDR1']}" class="ipt_box">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text"  name="EP_batch_addr2" id="EP_batch_addr2" value="{member['M_ADDR2']}"  placeholder="상세주소" class="ipt_box">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송시 요청사항</th>
                                            <td>
                                                <input type="text" name="EP_batch_memo" id="EP_batch_memo" value="" class="ipt_box">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="agree_wrap">
                                    <label>
                                        <input type="checkbox" name=""> 
                                        주문 정보 및 구매 조건을 확인하였으며, 정기배송 결제 진행에 동의합니다.
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="payment_info">
                          
                        </div>
                    </section>
                    <script type="text/javascript">
                        $(function(){
                            orderheightresize();
                        })


                        function orderheightresize(){
                            var $abox = $(".order_info");
                            var $bbox = $(".payment_info");

                            var $atg = $(".delivery_date");
                            var $btg = $(".total .btn_next")

                            var _ah = $abox.outerHeight();
                            var _bh = $bbox.outerHeight();

                            if(_ah > _bh){
                                var mg = _ah -_bh+20;
                                $btg.css({'margin-top':mg})
                            }else if(_ah < _bh){
                                var mg = _bh-_ah;
                                $atg.css({'margin-bottom':mg})
                            }

                        }

                    </script>
                </div>
				                
				<!--------------------------->
				<!-- ::: 기존 데이터-->
				<!--------------------------->
				<input type="hidden" id="product_code" name="product_code" value="{product_code}">         
				<input type="hidden" id="batch_cycle" name="batch_cycle" value="{batch_cycle}">         
				<input type="hidden" id="batch_count" name="batch_count" value="{batch_count}">         
				<input type="hidden" id="ipt_cal" class="ipt_cal" name="ipt_cal"   value="{batch_date}">         
				<!--------------------------->
				<!-- ::: 공통 인증 요청 값 -->
				<!--------------------------->
				
				
				<input type="hidden" id="EP_mall_nm"        name="EP_mall_nm"           value="">         <!-- 가맹점명-->
				<input type="hidden" id="EP_currency"       name="EP_currency"          value="00">       <!-- 통화코드 // 00 : 원화-->
				<input type="hidden" id="EP_return_url"     name="EP_return_url"        value="https://dartz.swtown.co.kr/order/cert_res">         <!-- 가맹점 CALLBACK URL // -->
				<input type="hidden" id="EP_ci_url"         name="EP_ci_url"            value="">         <!-- CI LOGO URL // -->
				<input type="hidden" id="EP_lang_flag"      name="EP_lang_flag"         value="">         <!-- 언어 // -->
				<input type="hidden" id="EP_charset"        name="EP_charset"           value="UTF-8">   <!-- 가맹점 CharSet // -->
				<input type="hidden" id="EP_user_id"        name="EP_user_id"           value="">         <!-- 가맹점 고객ID // -->
				<input type="hidden" id="EP_memb_user_no"   name="EP_memb_user_no"      value="">         <!-- 가맹점 고객일련번호 // -->
				<input type="hidden" id="EP_user_nm"        name="EP_user_nm"           value="">         <!-- 가맹점 고객명 // -->
				<input type="hidden" id="EP_user_mail"      name="EP_user_mail"         value="">         <!-- 가맹점 고객 E-mail // -->
				<input type="hidden" id="EP_user_phone1"    name="EP_user_phone1"       value="">         <!-- 가맹점 고객 연락처1 // -->
				<input type="hidden" id="EP_user_phone2"    name="EP_user_phone2"       value="">         <!-- 가맹점 고객 연락처2 // -->
				<input type="hidden" id="EP_user_addr"      name="EP_user_addr"         value="">         <!-- 가맹점 고객 주소 // -->
				<input type="hidden" id="EP_user_define1"   name="EP_user_define1"      value="">         <!-- 가맹점 필드1 // -->
				<input type="hidden" id="EP_user_define2"   name="EP_user_define2"      value="">         <!-- 가맹점 필드2 // -->
				<input type="hidden" id="EP_user_define3"   name="EP_user_define3"      value="">         <!-- 가맹점 필드3 // -->
				<input type="hidden" id="EP_user_define4"   name="EP_user_define4"      value="">         <!-- 가맹점 필드4 // -->
				<input type="hidden" id="EP_user_define5"   name="EP_user_define5"      value="">         <!-- 가맹점 필드5 // -->
				<input type="hidden" id="EP_user_define6"   name="EP_user_define6"      value="">         <!-- 가맹점 필드6 // -->
				<input type="hidden" id="EP_product_type"   name="EP_product_type"      value="">         <!-- 상품정보구분 // -->
				<input type="hidden" id="EP_product_expr"   name="EP_product_expr"      value="">         <!-- 서비스 기간 // (YYYYMMDD) -->				
				<input type="hidden" id="EP_pay_type"       name="EP_pay_type"          value="81">       <!-- 결제수단 // 81 : 배치인증 -->
				<input type="text" id="EP_order_no"       name="EP_order_no"          value="{ordercode}">         <!-- 주문번호 -->				
				<input type="hidden" id="EP_product_nm"     name="EP_product_nm"        value="상품명">         <!-- 상품명 -->
				<input type="hidden" id="EP_product_amt"    name="EP_product_amt"       value="{totalprice}">         <!-- 상품금액 -->				
				<input type="hidden" id="EP_cardnick_useyn" name="EP_cardnick_useyn"    value="">         <!-- 카드 별칭 사용 유무(Y : 카드별칭 입력 UI 노출) -->
				<input type="hidden" id="EP_batch_type"     name="EP_batch_type"    value="">             <!-- 배치 인증 유형(1: 인증전용, "" or 기타: 기존화면) -->
				
				<!--------------------------------->
				<!-- ::: 인증응답용 인증 요청 값 -->
				<!--------------------------------->
				
				<input type="hidden" id="EP_res_cd"          name="EP_res_cd"         value="">      <!--  응답코드 // -->
				<input type="hidden" id="EP_res_msg"         name="EP_res_msg"        value="">      <!--  응답메세지 // -->
				<input type="hidden" id="EP_tr_cd"           name="EP_tr_cd"          value="">      <!--  결제창 요청구분 // -->
				<input type="hidden" id="EP_ret_pay_type"    name="EP_ret_pay_type"   value="">      <!--  결제수단 // -->
				<input type="hidden" id="EP_ret_complex_yn"  name="EP_ret_complex_yn" value="">      <!--  복합결제 여부 (Y/N) // -->
				<input type="hidden" id="EP_card_code"       name="EP_card_code"      value="">      <!--  카드코드 (ISP:KVP카드코드 MPI:카드코드) // -->
				<input type="hidden" id="EP_eci_code"        name="EP_eci_code"       value="">      <!--  MPI인 경우 ECI코드 // -->
				<input type="hidden" id="EP_card_req_type"   name="EP_card_req_type"  value="">      <!--  거래구분 // -->
				<input type="hidden" id="EP_save_useyn"      name="EP_save_useyn"     value="">      <!--  카드사 세이브 여부 (Y/N) // -->
				<input type="hidden" id="EP_trace_no"        name="EP_trace_no"       value="">      <!--  추적번호 // -->
				<input type="hidden" id="EP_sessionkey"      name="EP_sessionkey"     value="">      <!--  세션키 // -->
				<input type="hidden" id="EP_encrypt_data"    name="EP_encrypt_data"   value="">      <!--  암호화전문 // -->
				<input type="hidden" id="EP_pnt_cp_cd"       name="EP_pnt_cp_cd"      value="">      <!--  포인트 CP 코드 // -->
				<input type="hidden" id="EP_spay_cp"         name="EP_spay_cp"        value="">      <!--  간편결제 CP 코드 // -->
				<input type="hidden" id="EP_card_prefix"     name="EP_card_prefix"    value="">      <!--  신용카드prefix // -->
				<input type="hidden" id="EP_card_no_7"       name="EP_card_no_7"      value="">      <!--  신용카드번호 앞7자리 // -->
				<input type="hidden" id="EP_card_nick"        name="EP_card_nick"       value="">      <!--  카드별칭(고객이 인증창에서 입력한 카드별칭) -->
				<input type="text" id="EP_batch_count"        name="EP_batch_count"       value="{batch_count}">  결제횟수    <!--  결제 횟수-->
				<input type="text" id="EP_batch_cycle"        name="EP_batch_cycle"       value="{batch_cycle}">결제주기      <!--  결제 주기-->
				<input type="text" id="EP_batch_date"        name="EP_batch_date"       value="{EP_batch_date}"> 결제 시작일     <!--  결제 시작일-->
				<input type="text" id="EP_batch_hp"        name="EP_batch_hp"       value=""> 핸드폰     <!--  핸드폰-->
				<input type="text" id="EP_batch_cp"        name="EP_batch_cp"       value=""> 유선     <!--  유선-->
				<input type="text" id="EP_product_code"        name="EP_product_code"       value="{product_code}"> 상품코드    <!--  상품코드-->
				<input type="text" id="EP_product_price"        name="EP_product_price"       value="{totalprice}"> 상품금액    <!--  상품코드-->
				<input type="hidden" id="EP_mall_id" name="EP_mall_id" value=""  maxlength="8" class="input_F">
				
				</form>
            </div>
        </section>
    </article>
    
    
  

    
<script>
	$(function(){
		set_chk("P");
	});
</script>


<script type="text/javascript">
    
    function f_cert() 
    {
        var frm_pay = document.frm_pay;
        frm_pay.EP_batch_user.value=frm_pay.EP_batch_user.value;
        frm_pay.EP_batch_hp.value=frm_pay.pay_hp1.value+"-"+frm_pay.pay_hp2.value+"-"+frm_pay.pay_hp3.value;
        frm_pay.EP_batch_cp.value =frm_pay.pay_cp1.value+"-"+frm_pay.pay_cp2.value+"-"+frm_pay.pay_cp3.value;
        /* UTF-8 사용가맹점의 경우 EP_charset 값 셋팅 필수 */
        if( frm_pay.EP_charset.value == "UTF-8" ) 
        {
            // 한글이 들어가는 값은 모두 encoding 필수.
            frm_pay.EP_mall_nm.value      = encodeURIComponent( frm_pay.EP_mall_nm.value );
            frm_pay.EP_product_nm.value   = encodeURIComponent( frm_pay.EP_product_nm.value );
            frm_pay.EP_user_addr.value   = encodeURIComponent( frm_pay.EP_user_addr.value );
            frm_pay.EP_user_nm.value   = encodeURIComponent( frm_pay.EP_user_nm.value );
        }
        
        
        /* 가맹점에서 원하는 인증창 호출 방법을 선택 */

     
            easypay_webpay(frm_pay,"/order/batch_popup_req","hiddenifr","","","popup",30);
        
    }
    
    function f_submit() 
    {
        var frm_pay = document.frm_pay;
        
        frm_pay.EP_mall_nm.value      = decodeURIComponent( frm_pay.EP_mall_nm.value );
        frm_pay.EP_product_nm.value   = decodeURIComponent( frm_pay.EP_product_nm.value );  
        frm_pay.target = "_self";
        frm_pay.action = "/easypaybatch/web/easypay_request.php";
        frm_pay.submit();
    }
    
</script>
    
   { #layout_footer }