{ #layout_header }
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/illuma.css" media="all" />
    <script src="/assets/js/order_index.js" ></script>  
{ #menu_gnb }
<article id="contents">
        <div class="location">
            <a href="#"  onclick="orderheightresize();return false;">Home</a><span>/</span><a href="#">Goldendrop Shop</a><span>/</span><strong>Subscription</strong>
        </div>
        <section id="product" class="page_wrap">
            <div class="container">
            	<form method="post" name="frm_input" id="frm_input" action="/order/torder_paystep">
                <div class="payment">
                    <h4>주문하기</h4>
                    <section>
                        <div class="tb">
                            <table>
                                <colgroup>
                                    <col width="200px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>주문 제품</th>
                                        <td>
                                            <select class="ipt_box sz_md" name="product_code" id="product_code" onchange="get_pddata();">
                                            	<option value="" {? pcode==""}selected="selected" {/}>제품선택</option>
                                                <option value="PD01" {? pcode=="PD01"}selected="selected" {/}>일루마 1단계</option>
                                                <option value="PD02" {? pcode=="PD02"}selected="selected" {/}>일루마 2단계</option>
                                                <option value="PD03" {? pcode=="PD03"}selected="selected" {/}>일루마 골든드롭 3</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section class="prd_list">
                        
                    </section>

                    <section class="payment_info_wrap">
                        <div class="order_info">
                            <h5>주문정보 선택하기 <a href="#"><img src="/images/common/ico_question_color.png" alt="안내"></a></h5>
                            <div class="tb">
                                <table>
                                    <colgroup>
                                        <col width="200px">
                                        <col width="*">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>배송 주기</th>
                                            <td>
                                                <select class="ipt_box sz_md" name="batch_cycle" id="batch_cycle" onchange="cycle_chk(this.value);">
                                                    <option value="T">1회 체험 주문</option>
                                                    <option value="1">1주 마다</option>
                                                    <option value="2">2주 마다</option>
                                                    <option value="3">3주 마다</option>
                                                    <option value="4">4주 마다</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송 횟수</th>
                                            <td>
                                                <select class="ipt_box sz_md disable dis" name="batch_count" id="batch_count"  onchange="set_chk('O');">
                                                    <option value="1">1회</option>
                                                    <option value="2">2회</option>
                                                    <option value="3">3회</option>
                                                    <option value="4">4회</option>
                                                    <option value="5">5회</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>결제일</th>
                                            <td>
                                                <input type="text"  class="ipt_box sz_md ipt_cal disable dis" id="calendar" name="batch_date" placeholder="0000년 0월 0일" onchange="set_chk('O');">
                                                <script type="text/javascript">
                                                    $(function() {
                                                        $( "#calendar" ).datepicker({
                                                            dateFormat:"yy-mm-dd",
                                                            monthNames:["1","2","3","4","5","6","7","8","9","10","11","12"],
                                                            dayNames:["일요일","월요일","화요일","수요일","목요일","금요일","토요일"],
                                                            dayNamesMin: [ "일", "월", "화", "수", "목", "금", "토" ] ,
                                                            nextText: '다음 달',
                                                            prevText: '이전 달',
                                                            minDate: 1,
                                                            showOtherMonths : true
                                                        });
                                                    });
                                                </script>

                                                <p class="txt">
                                                    1회차 정기 배송 주문이 결제되는 날입니다. 결제 후 배송이 시작됩니다.<br>
                                                    1회차 결제일 기준으로 선택하신 내용에 따라 회차 별 정기 결제가 진행됩니다.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>정기 배송 일정</th>
                                            <td>
                                                <div class="delivery_date">
                                                    <p class="txt">정기 배송 주기/횟수 선택 시 일정 미리보기가 제공됩니다.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        <div class="payment_info">
                            
                        </div>
                    </section>
                    
                    
                </div>
                </form>
            </div>
        </section>
    </article>
    <script>
	$(function(){
		var pcode="{pcode}";
		if(pcode!="")get_pddata();
		else order_chk("O");
	});
    </script>
    
    { #layout_footer }