{ #layout_header }
{ #menu_gnb }
<article id="contents">
        <div class="location">
            <a href="#">Home</a><span>/</span><a href="#">Goldendrop Shop</a><span>/</span><strong>Subscription</strong>
        </div>
        <section id="product" class="page_wrap">
            <div class="container">
                <div class="order_complete">
                    <h4>고객님께서 신청하신 주문이<br>정상적으로 접수되었습니다.</h4>
					{? OM_TYPE!="T"}
					<hr>
                    <div class="order_caution">
                        주문하신 상품을 <strong>{OM_SENDCYCLE}주</strong> 간격, <strong>{OM_COUNT}회</strong> 배송 받기로 신청하셨습니다.<br>
                        1회차 첫 결제일은 <strong>{=substr(title,0,4)}년 {=substr(title,4,2)}월 {=substr(title,6,2)} 일</strong> 입니다.
                    </div>
                    <div class="delivery_step">
                        <ul>
                           {timedata}
                        </ul>
                    </div>

                    <ul class="caution_txt">
                        <li>결제일 이후 6일이내 제품을 받으실 수 있으며 운송업체 및 배송추적번호가 포함된 배송 알림 문자를 받게됩니다.</li>
                        <li>자동결제일이 공휴일인 경우 결제는 이루어지며, 배송은 다음날부터 시작됩니다.</li>
                        <li>자세한 내용은 FAQ 또는 배송정책 도움말에서 참조하십시오.</li>
                    </ul>
					{/}
                    <div class="tb">
                        <table>
                            <colgroup>
                                <col width="200px">
                                <col width="280px">
                                <col width="200px">
                                <col width="280px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제품</th>
                                    <td colspan="3"><strong class="color">{PD_PRODUCTNAME}</strong></td>
                                </tr>
                                <tr>
                                    <th>결제 금액</th>
                                    <td>{=number_format(OM_CHARGE)} 원</td>
                                    <th>수량</th>
                                    <td>{? OM_TYPE=="T"}1{:}3{/}캔</td>
                                </tr>
                                <tr>
                                    <th>배송 예정일</th>
                                    <td colspan="3">구매일로부터 6일 이내(무료 배송)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="process">
                        <h5>배송 프로세스</h5>
                        <ul>
                            <li class="process01">
                                <span class="ico"><img src="/images/product/process01.png" alt=""></span>
                                <span class="tit">1회 체험 주분</span>
                                <ul class="txt">
                                    <li>1회 체험 주문을 합니다</li>
                                </ul>
                            </li>
                            <li class="process02">
                                <span class="ico"><img src="/images/product/process02.png" alt=""></span>
                                <span class="tit">주문완료</span>
                                <ul class="txt">
                                    <li>고객님의 주문을 접수하여 제품을 준비합니다,<br>주문 취소 및 변경이<br>가능합니다.</li>
                                </ul>
                            </li>
                            <li class="process03">
                                <span class="ico"><img src="/images/product/process03.png" alt=""></span>
                                <span class="tit">배송준비중</span>
                                <ul class="txt">
                                    <li>주문 제품의 재고를 확인하고 배송을 준비합니다.</li>
                                    <li>이 단계부터 주문 취소 및<br>변경이 불가합니다.</li>
                                </ul>
                            </li>
                            <li class="process04">
                                <span class="ico"><img src="/images/product/process04.png" alt=""></span>
                                <span class="tit">배송중</span>
                                <ul class="txt">
                                    <li>제품이 출고되고 배송이 시작됩니다.</li>
                                    <li>송장번호로 물품의 위치를<br>확인할 수 있습니다.</li>
                                </ul>
                            </li>
                            <li class="process05">
                                <span class="ico"><img src="/images/product/process05.png" alt=""></span>
                                <span class="tit">배송완료</span>
                                <ul class="txt">
                                    <li>제품 수령 후<br>배송이 완료 됩니다.</li>
                                    <li>교환/반품은 온라인에서<br>신청 가능합니다.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="btn_wrap">
                        <a href="/my/" class="btn btn_next"><span>확인</span></a>
                    </div>
                </div>
            </div>
        </section>
    </article>
{ #layout_footer }