{ #layout_header }
{ #menu_gnb }
<article id="contents">
        <div class="location">
            <a href="/">Home</a><span>/</span><a href="/story/brand">illuma Story</a><span>/</span><a href="/story/product">Product Story</a><span>/</span><strong>OPO Story</strong>
        </div>
        <section id="story" class="page_wrap">
            <div class="opostory">
                <div class="container">

                    <div class="toptxt">
                        <h3>지방을 분자 구조적 측면에서 확인하고 임상적으로 연구하여<br>칼슘과 지방의 흡수를 도와주는 OPO구조</h3>
                    </div>
                    <div class="contents">
                        <div class="video">
                            <a href="#" onclick="alert_ready();return false;" class="btn_video"><img src="/images/story/opo_movie.png" alt=""></a>
                        </div>

                        <ul>
                            <li>
                                <div class="tit">POP 구조</div>
                                <div class="txt">
                                    2개의 팔미트산염(P)이 칼슘과 결합하여<br>
                                    세포 안으로 흡수되지 않고 아기의 변으로 배설됩니다.<br>
                                    <span class="sm">* 기존 자사 분유와 비교 실험한 결과</span>
                                </div>
                            </li>
                            <li class="illlumaopo">
                                <div class="tit">illumaopo<sup>TM</sup> 	(sn-2팔미트산염)</div>
                                <div class="txt">
                                    <strong>OPO 구조는 흡수 방해 없이<br>칼슘과 지방의 흡수에 도움을 줍니다.</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </section>
    </article>
{ #layout_footer }