{ #layout_header }
{ #menu_gnb }
<article id="contents">
        <div class="location">
            <a href="/">Home</a><span>/</span><a href="/story/brand">illuma Story</a><span>/</span><strong>Wyeth Story</strong>
        </div>
        <section id="story" class="page_wrap">
            <div class="weythstory">
                <div class="container">

                    <div class="toptxt">
                        <h3>자연으로부터 과학을 배우고 연구해 온 와이어스 100년</h3>
                    </div>
                    <div class="contents">
                        <div class="video">
                            <a href="#" onclick="alert_ready();return false;" class="btn_video red"><img src="/images/story/weyth_movie.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="midtxt">
                    <div class="container">
                        <div class="txt">
                            철저한 품질테스트로 안정성을 유지하고,<br>과학적이고 체계적인 영양 연구와 엄격한 윤리 기준을 지킵니다.<br><br>
                            와이어스는 아기의 성장과 발달에 도움을 줄 수 있도록<br>깊이 생각하고 고민합니다. 
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="history">
                        <ul>
                            <li class="left crt">
                                <p>2018</p>
                                <strong>한국 일루마 출시</strong>
                            </li>
                            <li>
                                <p>2011</p>
                                <strong>일루마 출시</strong>
                                <span>지방을 분자 구조적 측면에서 확인하고 임상적으로 연구하여<br>칼슘과 지방의 흡수를 도와주는 OPO구조의 일루마 출시</span>
                            </li>
                            <li class="left">
                                <p>2006</p> 
                                <span>눈 건강을 위한 루테인이 함유된 유아식 출시</span>
                            </li>
                            <li>
                                <p>1997</p>
                                <span>유당불내증 아기들을 위한 락토프리 유아식 출시</span>
                            </li>
                            <li class="left">
                                <p>1961</p>
                                <span>유청단백질 고함유 유아식 S-26 출시</span>
                            </li>
                            <li>
                                <p>1956</p>
                                <span>유아식에 ‘유통기한’ 표시 적용</span>
                            </li>
                            <li class="left">
                                <p>1933</p>
                                <span>베타-카로틴의 함량 모유와 유사 수준으로 강화</span>
                            </li>
                            <li>
                                <p>1915</p>
                                <span>유아식 출시</span>
                            </li>
                        </ul>
                        <p class="logo"><img src="/images/story/weyth_logo.png" alt="weyth | Nutrition"></p>
                    </div>
                </div>
            </div>
           
        </section>
    </article>
{ #layout_footer }