{ #layout_header }
{ #menu_gnb }
    <article id="contents" class="mainpage">
        <div class="main_slide">

            <!--<div class="slider">-->
                <!--<div class="main_sld_video">-->
                    <!--<a href="#" class="btn_video" loof>-->
                        <!--<video id="myVideo">-->
                            <!--<source src="/video/ILLUMA2016.mp4" type="video/mp4">-->
                             <!--Your browser does not support the video tag.-->
                        <!--</video>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="sld_standard"><img src="/images/main/main_slide_banner.png" alt=""></div>-->
            <!--</div>-->
            <div class="slider">
                {@ visual}
                    {?.MV_GUBUN=="I"}
                        <div class="sld_standard"><a href="{.MV_IMG_URL}" target="win_1" ><img src="http://dartz.swtown.co.kr{.MV_PATH}{.MV_FILENAME}" alt=""></a></div>
                    {:}
                        <div class="main_sld_video">
                            <iframe width="100%" height="100%" src="{.MV_MOVIE_URL}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    {/}
                {/}
            </div>
            <div class="controls pager">
                <a href="#" class="btn_play stop"></a>
                <a href="#" onclick="mainsld.goToSlide(0);return false;" class="btn_num on"></a>
                
            </div>
        </div>
        <script>
            var mainsld;
            $(function(){
                mainsld = $('.slider').bxSlider({
                    controls:false,
                    auto:true,
                    autoHover:true,
                    pager:false,
                    infiniteLoop:false,
                    onSliderLoad:function(){
                        setAlign();
                    },
                    onSlideAfter:function(){
                        pagerfn(mainsld.getCurrentSlide());
                    }
                });
                setPage(mainsld.getSlideCount());
                $(".btn_play").on("click",function(){
                    if($(this).hasClass("stop")){
                        mainsld.stopAuto();
                    }else{
                        mainsld.startAuto();
                    }
                    $(this).toggleClass('stop');
                })
                $(".btn_video").on("click",function(){
                    var $video = $(this).find("video").attr("id");
                    var myVideo = document.getElementById($video); 
                    if($(this).hasClass("on")){
                        myVideo.pause();
                        mainsld.startAuto();
                        $(".btn_play").addClass("stop");
                    }else{
                        myVideo.play();
                        mainsld.stopAuto();
                        $(".btn_play").removeClass("stop");
                    }
                    $(this).toggleClass('on');
                })
            });

            function setPage(total){
                var $pager = $(".pager");
                for(var i=1;i<total;i++){
                    var txt = "<a href='#' onclick='mainsld.goToSlide("+i+");return false;' class='btn_num'></a>";
                    $pager.append(txt)
                }
            }

            function setAlign(){
                $(".main_sld_video").css({'height':$(".sld_standard").height()})
            }

            $(window).resize(function(){
                mainsld.redrawSlider();
                setAlign();
            })


            function pagerfn(num){
                var num = num;
                $(".controls .btn_num.on").removeClass("on");
                $(".controls .btn_num:eq("+num+")").addClass("on");
            }
        </script>
        <section class="main_banner">
            <div class="container">
                <div class="banner ireland">
                    <a href="/story/product_lreland" class="button btn_wh"><span>자세히 보기</span></a>
                </div>
                <div class="banner opo">
                    <a href="/story/product_opo" class="button btn_wh"><span>자세히 보기</span></a>
                </div>
            </div>
        </section>

        <section class="main_join">
            <div class="container">
                <div class="join_wrap">
                    <div class="prd"><img src="/images/main/prd.png" alt=""></div>
                    <div class="box">
                        <h3><img src="/images/main/tit_join.png" alt="회원가입"></h3>
                        <p>프리미엄 일루마의 친구가 되어 특별한 혜택을 누려보세요</p>
                        <div class="box_bot">
                            <div class="join_event">
                                <p>회원가입 이벤트</p>
                                <a href="/join/" class="button"><span>가입하기</span></a>
                            </div>
                            <div class="join_point">
                                <p>회원가입 포인트</p>
                                <a href="/point/index" class="button"><span>포인트 알아보기</span></a>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="main_instagram">
            <div class="container">
                <h3><img src="/images/main/tit_insta.png" alt="인스타그랩"></h3>
                <p class="txt">INSTAGRAM</p>
                <div class="sns_wrap">
                    <ul>
                    {@ instar}
                        <li {?((.index_+1)%5)==0}class="right"{/} style=""><a href="https://www.instagram.com/p/{.ID_URL}" target="win_1"><img src="{.ID_IMG_SRC}" alt=""></a></li>
                    {/}
                    </ul>
                </div>
                <div class="btn_wrap">
                    <a href="/diary/happy" class="btn btn_round"><span>MORE</span></a>
                </div>
            </div>
        </section>
        
    </article>

<div class="modal modal_info"  id="layer_pop" name="layer_pop" style="display: none;">
    <div class="modal_wrap">
        <div class="modal_txt">
            <p class="tit">모유가 아기에게<br>가장 좋은 식품입니다.</p>
            <p class="txt">
                세계보건기구(WHO)는<br>
                첫 6개월 동안 완모수유를 권장합니다.<br><br>
                자사 또한 지속적인 모유수유를 권장하며,<br>
                주치의 또는 보건당국의 안내에 따라<br>
                이유식 시작을 권고합니다.
            </p>
            <a href="#" onclick="javascript:pop_close();"><img src="/images/main/btn_modal_close.png" alt="닫기"></a>
            <div class="chk_wrap">
                <label>
                    <input type="checkbox" name="popup_chk" id="popup_chk"> 다시 보지 않기
                </label>
            </div>
        </div>
    </div>
</div>
{@ popup}
    {.MP_IDX != ""}
    <script type='text/javascript' language='javascript'>
        if (getCookie('popup_{.MP_IDX}') != 'done') {
            window.open('/main/popup.aspx?mp_idx={.MP_IDX}', 'width=" + _width + ",height=" + _height + ",left=" + _left + ",top=" + _top + ", scrollbars=no');
        }
    </script>

    {/}


<script type="text/javascript">
    $(function(){
        modal.open('info');

        if(getCookie('layer_pop') != 'done'){
            $("#layer_pop").show();
        }else{
            $("#layer_pop").hide();
        }

    })

  

    function getCookie(name){
        var nameOfCookie = name + "=";
        var x =0;
        while (x<=document.cookie.length){
            var y = (x+nameOfCookie.length);
            if(document.cookie.substring(x,y) == nameOfCookie){
                if((endOfCookie=document.cookie.indexOf(";",y))==-1)
                    endOfCookie = document.cookie.length;
                return unescape(document.cookie.substring(y, endOfCookie));
            }
            x=document.cookie.indexOf(" ",x) +1;
            if(x==0)
                break;
        }
        return "";
    }


    function setCookie(name, value, expiredays){
        var todayDate = new Date();
        todayDate.setDate(todayDate.getDate() + expiredays);
        document.cookie=name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }

    function pop_close() {

        if($("input:checkbox[name='popup_chk']").is(":checked")){
            setCookie("layer_pop", "done" , 1000);
        }

        $("#layer_pop").hide();
    }

</script>

{ #layout_footer }