{ #layout_header }
{ #menu_gnb }
    <article id="contents">
        
        <section id="mypage" class="page_wrap">
            <div class="container">
                <div class="page_top" style="padding-bottom:30px;">
                    <h4 class="kor">내 정보</h4>
                    <p>회원님의 정보와 보안 그리고 배송 정보를 확인하고 변경할 수 있는 곳입니다. <br>필요한 정보를 업데이트하십시오.</p>
                </div>
                <section class="mypoint">
                    <div class="top">
                        <p class="tit">현재 보유 포인트</p>
                        <p class="pt"><span>{=number_format(pldata['PL_TOTALPOINT'])}</span></p>
                        <a href="/my/point_list" class="btn_inner"><span>포인트 내역</span></a>
                    </div>
                </section>

                <div class="page_body">
                    
                    <div class="mypage_link">
                        <!--a href="/my/my_orderlist" class="link01"><span>주문내역</span></a-->
                        <a href="/my/index_chk" class="link02"><span>회원정보수정</span></a>
                        <a href="/my/pw_change" class="link03"><span>비밀번호 변경</span></a>
                        <a href="/my/withdrawal" class="link04"><span>회원탈퇴</span></a>
                        <a href="/my/my_qnalist" class="link05"><span>1:1문의 내역</span></a>
                        <a href="/my/index_chk?chk=Y" class="link06"><span>아기정보 수정</span></a>
                        <a href="/my/point_list" class="link07"><span>포인트 내역</span></a>
                    </div>

                </div>
            </div>
        </section>
    </article>
	
    </script>
    
{ #layout_footer }