{ #layout_header }
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/illuma.css" media="all" />
    <script src="/assets/js/order_index.js" ></script>  
{ #menu_gnb }
<article id="contents">
        
        <section id="mypage" class="page_wrap">
            <div class="container">
                <div class="page_top">
                    <h4 style="margin-bottom:5px;">주문내역</h4>
                </div>
                <div class="page_body">
                    <section class="order_list">
                        <h5 style="margin-top:0;">기간별 조회
                            <p class="infotxt">조회일자를 설정하시면 최대 6개월 간의 내역을 조회하실 수 있습니다.</p>
                        </h5>
                        <div class="search_date" id="search_date" name="search_date">
                            <a href="#" class="btn"><span>1개월</span></a>
                            <a href="#" class="btn"><span>3개월</span></a>
                            <a href="#" class="btn"><span>6개월</span></a>
                            <a href="#" class="btn"><span>12개월</span></a>
                            <a href="#" class="btn"><span>24개월</span></a>
                            <script type="text/javascript">
                                $(function(){
                                    var $rdobtn = $(".search_date .btn");
                                    $rdobtn.on("click",function(){
                                        if(!$(this).hasClass("on")){
                                            $rdobtn.removeClass("on");
                                            $(this).addClass("on");
                                        }
                                    })
                                })
                            </script>
                            <div class="cal">
                                <input type="text" name="" class="ipt_box sz_md ipt_cal" id="calendar">
                                <script type="text/javascript">
                                    $(function() {
                                        $( "#calendar" ).datepicker({
                                            dateFormat:"yy-mm-dd",
                                            monthNames:["1","2","3","4","5","6","7","8","9","10","11","12"],
                                            dayNames:["일요일","월요일","화요일","수요일","목요일","금요일","토요일"],
                                            dayNamesMin: [ "일", "월", "화", "수", "목", "금", "토" ] ,
                                            nextText: '다음 달',
                                            prevText: '이전 달',
                                            maxDate: 0,
                                            showOtherMonths : true
                                        });
                                    });
                                </script>
                                <a href="#" class="btn_srch"><span>직접조회</span></a>
                            </div>
                            
                        </div>
                    </section>

                    <section class="order_list">
                        <h5>주문 현황</h5>
                        <div class="tb tb_sm">
                            <table>
                                <colgroup>
                                    <col width="90">
                                    <col width="70">
                                    <col width="80">
                                    <col width="120">
                                    <col width="40">
                                    <col width="40">
                                    <col width="40">
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                    <col width="240">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>주문번호</th>
                                        <th>주문일</th>
                                        <th>상품명</th>
                                        <th>수량</th>
                                        <th>주기</th>
                                        <th>회수</th>
                                        <th>결제일</th>
                                        <th>결제금액</th>
                                        <th>적립포인트</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{@ list}
                                    <tr>
                                        <td>{? .OM_TYPE=="T"}트라이얼{:}정기배송{/}</td>
                                        <td>{.OM_ORDERCODE}</td>
                                        <td>{=substr(.OM_CREDATE,0,10)}</td>
                                        <td>{.PD_PRODUCTNAME}</td>
                                        <td>{? .OM_TYPE=="T"}1{:}3{/}</td>
                                        <td>{.OM_SENDCYCLE}</td>
                                        <td>{.OM_COUNT}</td>
                                        <td>{=substr(.OM_CREDATE,0,10)}</td>
                                        <td>{=number_format(.OM_CHARGE)}</td>
                                        <td>0</td>
                                        <td><span class="status">배송완료</span><a href="#" class="btn_inner"><span>상세보기</span></a></td>
                                    </tr>
                                    {/}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </article>
{ #layout_footer }