{ #layout_header }
{ #menu_gnb }
<article id="contents">
        
        <section id="mypage" class="page_wrap">
        	<form name="frm_input" id="frm_input" method="post" action="/my/my_order_process">
            <div class="container">
                <div class="page_top">
                    <h4 style="margin-bottom:5px;">주문 상세 정보</h4>
                </div>
                <div class="page_body">
                    <section class="order_view">
                        <h5 style="margin-top:0;">주문정보</h5>
                        <div class="tb tb_view">
                        	{? OM_TYPE=="T"}
                            <table>
                                <colgroup>
                                    <col width="200">
                                    <col width="370">
                                    <col width="200">
                                    <col width="370">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>주문번호</th>
                                        <td>{OM_ORDERCODE}</td>
                                        <th>주문일</th>
                                        <td>{=str_replace("-",".",substr(OM_CREDATE, 0, 10))}</td>
                                    </tr>
                                    <tr>
                                        <th>구분</th>
                                        <td><strong>1회 체험 구매</strong></td>
                                        <th>아이디</th>
                                        <td><strong>{M_ACCOUNT}</strong></td>
                                    </tr>
                                    <tr>
                                        <th>이름</th>
                                        <td>{OM_NAME}</td>
                                        <th>휴대폰 번호</th>
                                        <td>{OM_HP}</td>
                                    </tr>
                                    <tr>
                                        <th>상품명</th>
                                        <td><span class="color">{OD_PRODUCTCODE}</span></td>
                                        <th>수량</th>
                                        <td>1통</td>
                                    </tr>
                                    <tr>
                                        <th>결제일</th>
                                        <td>{=str_replace("-",".",substr(OP_PAYDATE, 0, 10))}()</td>
                                        <th>금액</th>
                                        <td>{=number_format(OD_CHARGE)}원</td>
                                    </tr>
                                    <tr>
                                        <th>상태</th>
                                        <td colspan="3">{state} {?OP_STATE=="2"}<a href="#" class="btn_inner" onclick="modal.open('alert');return false;"><span>주문 취소</span></a>{/}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {:}
                            <table>
                                <colgroup>
                                    <col width="200">
                                    <col width="280">
                                    <col width="200">
                                    <col width="280">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>주문번호</th>
                                        <td>{OM_ORDERCODE}</td>
                                        <th>주문일</th>
                                        <td>{=str_replace("-",".",substr(OM_CREDATE, 0, 10))}</td>
                                    </tr>
                                    <tr>
                                        <th>구분</th>
                                        <td><strong>정기배송</strong></td>
                                        <th>아이디</th>
                                        <td><strong>{M_ACCOUNT}</strong></td>
                                    </tr>
                                    <tr>
                                        <th>이름</th>
                                        <td>{OM_NAME}</td>
                                        <th>휴대폰 번호</th>
                                        <td>{{OM_HP}}</td>
                                    </tr>
                                    <tr>
                                        <th>상품명</th>
                                        <td><span class="color">{OD_PRODUCTCODE}</span></td>
                                        <th>수량</th>
                                        <td>3통</td>
                                    </tr>
                                    <tr>
                                        <th>주기</th>
                                        <td>{OM_SENDCYCLE}주 간격</td>
                                        <th>횟수</th>
                                        <td>{OM_COUNT}회</td>
                                    </tr>
                                    <tr>
                                        <th>결제일</th>
                                        <td>{=str_replace("-",".",substr(OP_PAYDATE, 0, 10))}()</td>
                                        <th>회차별 결제금액</th>
                                        <td>{=number_format(OD_CHARGE)}원</td>
                                    </tr>
                                </tbody>
                            </table>
                            {/}
                        </div>
                    </section>

                    <section class="order_view">
                        <h5>배송정보</h5>
                        <div class="tb tb_view">
                            <table>
                                <colgroup>
                                    <col width="200">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>수령자</th>
                                        <td><input type="text" name="OM_NAME" id="OM_NAME" value="{OM_NAME}" class="ipt_box sz_lg"></td>
                                    </tr>
                                    <tr>
                                        <th>휴대전화</th>
                                        <td>
                                            <select class="ipt_box sz_sm" id="pay_hp1" name="pay_hp1">
                                                    <option value="010" {? HP[0]=="010"}selected="selected"{/}>010</option>
                                                    <option value="011" {? HP[0]=="011"}selected="selected"{/}>011</option>
	                                        		<option value="016" {? HP[0]=="016"}selected="selected"{/}>016</option>
                                                </select>
                                            <span class="unit dash"></span>
                                            <input type="text" id="pay_hp2" name="pay_hp2" value="{HP[1]}" class="ipt_box sz_sm">
                                            <span class="unit dash"></span>
                                            <input type="text" id="pay_hp3" name="pay_hp3" value="{HP[2]}" class="ipt_box sz_sm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>집전화</th>
                                        <td>
                                            <select class="ipt_box sz_sm" id="pay_cp1" name="pay_cp1">
                                            	<option value="">선택</option>
                                                {cp_list}
                                            </select>
                                            <span class="unit dash"></span>
                                            <input type="text" id="pay_cp2" name="pay_cp2" value="{CP[1]}" class="ipt_box sz_sm">
                                            <span class="unit dash"></span>
                                            <input type="text" id="pay_cp3" name="pay_cp3" value="{CP[2]}" class="ipt_box sz_sm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>배송주소</th>
                                        <td class="addr">
                                            <input type="text" name="OM_POST" id="OM_POST" value="{OM_POST}"  class="ipt_box">
                                            <input type="text" name="OM_ADDR1" id="OM_ADDR1" value="{OM_ADDR1}" class="ipt_box">
                                            <input type="text" name="OM_ADDR2" id="OM_ADDR2" value="{OM_ADDR2}"  class="ipt_box">
                                            <a href="javascript:get_post();" role="button" class="btn_inner">주소 찾기</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>배송시 요청사항</th>
                                        <td><input type="text" name="OM_MEMO" id="OM_MEMO" value="{OM_MEMO}" class="ipt_box"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="infotxt">
                                - 상품 배송은 결제일로 부터 6일 이내에 배송 됩니다.<br>
                                - 주문취소는 배송이 시작되기 이전 단계 ‘결제완료’ 상태에서만 가능합니다.<br>
                                - 교환/반품 신청은 배송완료 후 7일 이내에 신청 가능합니다.<br>
                                - 반품 환불은 배송 된 제품이 미개봉 상태인 경우에만 가능합니다.<br>
                                - 반품 환불 처리 시 제품 구매로 지급된 포인트는 차감 처리 됩니다. 
                            </p>
                        </div>
                    </section>
                    <hr>

                    <div class="btn_wrap">
                        <a href="javascript:frmsubmit('Y');" class="btn btn_next"><span>변경</span></a>
                        <a href="javascript:frmsubmit('L');" class="btn btn_round"><span>목록</span></a>
                    </div>
                    
                </div>
            </div>
			<input type="hidden" name="search_state" id="search_state" value="{search_state}">
	        <input type="hidden" name="search_S" id="search_S" value="{search_S}">
	        <input type="hidden" name="search_F" id="search_F" value="{search_F}">
            <input type="hidden" name="per_page" id="per_page" value="{per_page}">
            <input type="hidden" name="OP_STATE" id="OP_STATE" value="{OP_STATE}" />
        	<input type="hidden" name="OM_IDX" id="OM_IDX" value="{OM_IDX}" />
           </form>
        </section>
    </article>
    
    
    <div class="modal modal_alert">
        <div class="modal_wrap">
            <div class="modal_top">
                <h4>주문취소</h4>
                <a href="#" class="btn_close" onclick="modal.close('alert');return false;"><img src="/images/common/btn_modal_close.png" alt="닫기"></a>
            </div>
            <div class="modal_body">
                <div class="incont">
                    선택하신 주문을 취소 하시겠습니까?<br>
                    취소하신 주문은 다시 복구되지 않습니다.<br><br>
                    결제완료된 주문건은 자동 결제취소 처리 됩니다.
                </div>
                <hr>
                <div class="btn_wrap">
                    <a href="#" onclick="set_state();"  class="btn btn_solid"><span>확인</span></a>
                    <a href="#" class="btn btn_round" onclick="modal.close('alert');return false;"><span>취소</span></a>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script>
	function get_post(){
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
	            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
	            $("#OM_POST").val(data.zonecode);
	            $("#OM_ADDR1").val(data.address);
	        }
	    }).open();
    }

	function set_state(){
		var OM_IDX=$("#OM_IDX").val();
		var code=-10;
		$.get("/my/set_state" ,
	    {
	        OM_IDX : OM_IDX,
	        code : code
	    },
	    function(rslt){
	    	alert('주문취소 되었습니다.');
	    });
	}
	    //ENTER 안먹게 하는것
    function captureReturnKey(e) {
        if (e.keyCode == 13)
            return false;
    }

    function frmsubmit(type) {
        if (type == "Y") {
       	alert('수정되었습니다.');
            $('#frm_input').submit();
        } else {
            location.href ="/my/my_orderlist?search_state="+$('#search_state').val()+"&per_page="+$('#per_page').val()+"&search_S="+$('#search_S').val()+"&search_F="+$('#search_F').val();
        }
    }
	
    </script>
{ #layout_footer }