{ #layout_header }
{ #menu_gnb }
    <article id="contents">
        
        <section id="mypage" class="page_wrap">
            <div class="container">
                <div class="page_top">
                    <h4 class="kor">1:1문의내역</h4>
                    <p>문의하신 내용과 답변을 편리하게 확인할 수 있습니다.</p>
                </div>
                <div class="page_body">
                    <section class="qna_list">
                       
                        <div class="acc-list">
                            <ul>
                                <li class="head">
                                    <span class="sort">구분</span>
                                    <span class="tit">내용</span>
                                    <span class="status">상태</span>
                                </li>
                                {@ list}
                                <li>
                                	{? .QNA_ANSWER_YN=="Y"}
                                    <a href="#" role="button" onclick="accFn(this);return false;">
                                	{:}
                                	<a href="javascirpt:;" role="button" >
                                	{/}
                                        <span class="sort">Q</span>
                                        <span class="tit">{=nl2br(.QNA_QUESTION)}
                                        	{? .QNA_QUESTION_FILENAME!=""}
                                            <span class="file">{.QNA_QUESTION_FILENAME}</span>
                                            {/}
                                        </span>
                                        {? .QNA_ANSWER_YN=="Y"}
                                        <span class="status color">답변완료</span>
                                        {:}
                                        <span class="status wait">답변대기</span>
                                        {/}
                                    </a>
                                    {? .QNA_ANSWER_YN=="Y"}
                                    <div class="answer">
                                        <span class="sort">A</span>
                                        <span class="txt">
                                           {=nl2br(.QNA_ANSWER)}
                                        </span>
                                    </div>
                                    {/}
                                </li>
                                {:}
                                <li>
	                                <span class="tit none">등록 된 문의내역이 없습니다.</span>
                                </li>
                                {/}
                            </ul>
                            <script type="text/javascript">
                            
                            function accFn(obj){
                                var $tg = $(obj).closest("li");
                                var $answer = $tg.find(".answer")
                                $tg.toggleClass("on");
                                var _h = $answer.find(".txt").outerHeight();
                                if($tg.hasClass("on")) $answer.css({'height':_h})
                                else $answer.css({'height':0});
                            }
                        </script>
                        </div>
                        {pagination}
                    </section>
                </div>
            </div>
        </section>
    </article>
{ #layout_footer }