{ #layout_header }
{ #menu_gnb }   	
    <script src="/assets/js/mypage.js"></script>
    <article id="contents">
        
        <section id="mypage" class="page_wrap">
            <div class="container">
                <div class="page_top">
                    <h4 style="margin-bottom:5px">회원정보 수정</h4>
                </div>
                <div class="page_body join_form">
                	<form method="post" action="/my/mypage_process" id="frm_input">
                    <section>
                    	
                        <h4 style="margin-top:0;">기본 정보</h4>
                        <div class="tb tb_view">
                            <table>
                                <colgroup>
                                    <col width="200px">
                                    <col width="*">
                                </colgroup>
	                                <tbody>
	                                    <tr>
	                                        <th><label for="">아이디 <span class="important">*</span></label></th>
	                                        <td class="ipt_id">
	                                           <p class="invalue">{M_ACCOUNT}</p>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th><label>이름 <span class="important">*</span></label></th>
	                                        <td>
	                                            <p class="invalue">{M_NAME}</p>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th><label>이메일 <span class="important">*</span></label></th>
	                                        <td class="td_M_EMAIL">
	                                            <input type="text" name="M_EMAIL_1" id="M_EMAIL_1" class="ipt_box sz_md" value="{M_EMAIL_1}">
	                                            <span class="unit">@</span>
	                                            <input type="text" class="ipt_box sz_md" name="M_EMAIL_2_txt" id="M_EMAIL_2_txt" value="{M_EMAIL_2_txt}" placeholder="직접입력">
	                                            <div class="select ipt_box sz_md">
	                                            	<span>직접입력</span>
		                                            <select class="" id="M_EMAIL_2_sel" name="M_EMAIL_2_sel"  onchange="change_txt();" >
		                                                <option value="" >직접입력</option>
				                                        <option value="nate.com" >nate.com</option>
				                                        <option value="naver.com" >naver.com</option>
				                                        <option value="hanmail.net">hanmail.net</option>
				                                        <option value="gmail.com" >gmail.com</option>
		                                            </select>
	                                            </div>
	                                            <span class="txt_chk msg_M_EMAIL"></span>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th><label>생년월일 <span class="important">*</span></label></th>
	                                        <td>
	                                            <p class="invalue">{=substr(M_BIRTHDATE,0,4)}.{=number_format(substr(M_BIRTHDATE,4,2))}.{=number_format(substr(M_BIRTHDATE,6,2))}</p>
	                                        </td>
	                                    </tr>
	                                    
                                    	<tr>
	                                    	<input type="hidden" id="hp_chk" name="hp_chk" value="N"/>
	                                        <th rowspan="2" class="rowtop"><label>휴대폰 번호 <span class="important">*</span></label></th>
	                                        <td class="line_dash">
	                                        	<div class="select ipt_box sz_sm"  >
	                                        		<span>{?M_HP_1=="010"}010{/}{?M_HP_1=="016"}016{/}{?M_HP_1=="017"}017{/}</span>
		                                            <select name="M_HP_1" id="M_HP_1" >
		                                                <option value="010" {?M_HP_1=="010"}selected="selected"{/}>010</option>
		                                                <option value="016" {?M_HP_1=="016"}selected="selected"{/}>016</option>
		                                                <option value="017" {?M_HP_1=="017"}selected="selected"{/}>017</option>
		                                            </select>
	                                            </div>
	                                            <span class="unit dash"></span>
	                                            <input type="tel"  name="M_HP_2" id="M_HP_2" onkeydown="onlyNumber(this);" onKeyUp="onlyNumber(this);"  class="ipt_box sz_sm" value="{M_HP_2}">
	                                            <span class="unit dash"></span>
	                                            <input type="te;"  name="M_HP_3" id="M_HP_3" onkeydown="onlyNumber(this);" onKeyUp="onlyNumber(this);"  class="ipt_box sz_sm" value="{M_HP_3}">
	                                            <a href="#" onclick="sms_send();return false;"  role="button" class="btn_inner line_onoff on">인증번호 발송</a>
	                                            <div class=""  id="chk_red"></div>
	                                        </td>
	                                    </tr>
	                                    <input type="hidden" id="textyn" value="N" />
	                                     <tr>
	                                        <td>
	                                            <input type="text" name="chknum" id="chknum"  class="ipt_box sz_lg" placeholder="휴대폰 인증번호 입력">
	                                            <a href="#" onclick="sms_chknum();return false;" role="button" class="btn_inner">인증 확인</a>
	                                            
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th><label>집 전화</label></th>
	                                        <td>
	                                        	<div class="select ipt_box sz_sm">
	                                        		<span>선택</span>
	                                        		<select class="" name="M_CP_1" id="M_CP_1" >
		                                            	<option value="">선택</option>
		                                                {cp_list}
		                                            </select>
	                                        	</div>
	                                            <span class="unit dash"></span>
	                                            <input type="text"  name="M_CP_2" id="M_CP_2" onkeydown="onlyNumber(this);" onKeyUp="onlyNumber(this);" maxlength="4" class="ipt_box sz_sm" value="{M_CP_2}">
	                                            <span class="unit dash"></span>
	                                            <input type="text"  name="M_CP_3" id="M_CP_3" onkeydown="onlyNumber(this);" onKeyUp="onlyNumber(this);"  maxlength="4" class="ipt_box sz_sm" value="{M_CP_3}">
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th><label>성별 <span class="important">*</span></label></th>
	                                        <td>
	                                            <p class="invalue">{? M_GENDER=='M'}남{/}{? M_GENDER=='F'}여{/}</p>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <th rowspan="2" class="rowtop"><label>배송지</label></th>
	                                        <td class="line_dash">
	                                            <input type="text" name="M_POST" id="M_POST" readonly="readonly" class="ipt_box sz_sm" value="{M_POST}">
	                                            <a href="#" onclick="get_post();return false;"  role="button" class="btn_inner">우편번호 검색</a>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <td>
	                                            <input type="text" name="M_ADDR1" id="M_ADDR1"class="ipt_box sz_xl" value="{M_ADDR1}" readonly="readonly">
	                                            <input type="text" name="M_ADDR2" id="M_ADDR2" placeholder="상세주소" class="ipt_box sz_xl" style="margin-left:8px;" value="{M_ADDR2}">
	                                        </td>
	                                    </tr>
	
	                                    <tr>
                                        <th rowspan="2" class="rowtop">마케팅 활동<br>동의 및 수신</th>
	                                        <td class="line_dash">
	                                            <span class="tit_inner">SMS/MMS/LMS 수신</span>
	                                            <span class="radio_wrap">
	                                                <input type="radio" name="M_SMS_YN" id="M_SMS_Y" value="Y" {? M_SMS_YN=='Y'} checked="checked"{/}>
	                                                <label for="M_SMS_Y"><span></span>동의함</label>
	                                            </span>
	                                            <span class="radio_wrap">
	                                                <input type="radio" name="M_SMS_YN" id="M_SMS_N" value="N" {? M_SMS_YN=='N'} checked="checked"{/}>
	                                                <label for="M_SMS_N"><span></span>동의안함</label>
	                                            </span>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <td>
	                                            <span class="tit_inner">이메일 수신</span>
	                                            <span class="radio_wrap">
	                                                <input type="radio" value="Y"  name="M_EMS_YN" id="M_EMS_Y" {? M_EMS_YN=='Y'} checked="checked"{/}>
	                                                <label for="M_EMS_Y"><span></span>동의함</label>
	                                            </span>
	                                            <span class="radio_wrap">
	                                                <input type="radio" value="N" name="M_EMS_YN"  id="M_EMS_N" {? M_EMS_YN=='N'} checked="checked"{/}>
	                                                <label for="M_EMS_N"><span></span>동의안함</label>
	                                            </span>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </section>
	                    
	                    <section id="chmove">
                        <h4>아이정보
                            <p class="infotxt"> - 아이 정보 입력 시, 한 명당 <span>500포인트</span>를 드립니다. 정보는 가입 후에도 수정 가능합니다.</p>
                        </h4>
	                        <div class="tb">
	                            <table>
	                                <colgroup>
	                                    <col width="200">
	                                    <col width="430">
	                                    <col width="150">
	                                    <col width="*">
	                                </colgroup>
	                                <thead>
	                                    <tr>
	                                        <th class="line">이름(태명)</th>
	                                        <th class="line">생년월일(출산예정일)</th>
	                                        <th class="line">성별</th>
                                        <th>추가/삭제</th>
	                                    </tr>
	                                </thead>
	                                <tbody class="fnlist">
	                                    <tr class="fnli hiddenform">
	                                        <td class="line">
	                                            <input type="text" name="ch_name[]" class="ipt_box">
	                                        </td>
	                                        <td class="line">
	                                            <div class="select ipt_box sz_sm">
                                                    <span>2018년</span>
                                                    <select class="" name="ch_year[]">
                                                        {year_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>1월</span>
                                                    <select class="" name="ch_month[]">
                                                        {month_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>1일</span>
                                                    <select class="" name="ch_day[]">
                                                        {day_list}
                                                    </select>
                                                </div>
	                                        </td>
	                                        <td class="line">
	                                        	<div class="select ipt_box sz_sm">
	                                        		<span>성별</span>
	                                        		<select class="" name="ch_gender[]">
		                                                <option value="">성별</option>
		                                                <option value="F">여</option>
		                                                <option value="M">남</option>
		                                            </select>
	                                        	</div>
	                                        </td>
	                                        <td>
	                                            <div class="btn_add">
	                                                <a href="#" class="btn_plus" onclick="fnlist.add(this);return false;"><span></span></a>
	                                                <a href="#" class="btn_minus" onclick="fnlist.del(this);return false;"><span></span></a>
	                                            </div>
	                                        </td>
	                                    </tr>
	                                    {? count(MC_list)==""}
	                                    <tr class="fnli">
                                            <td class="line">
                                                <input type="text" name="ch_name[]" class="ipt_box">
                                            </td>
                                            <td class="line">
                                                <div class="select ipt_box sz_sm">
                                                    <span>2018년</span>
                                                    <select class="" name="ch_year[]">
                                                        {year_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>1월</span>
                                                    <select class="" name="ch_month[]">
                                                        {month_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>1일</span>
                                                    <select class="" name="ch_day[]">
                                                        {day_list}
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="line">
                                                <div class="select ipt_box sz_sm">
	                                        		<span>성별</span>
	                                        		<select class="" name="ch_gender[]">
		                                                <option value="">성별</option>
		                                                <option value="F">여</option>
		                                                <option value="M">남</option>
		                                            </select>
	                                        	</div>
                                            </td>
                                            <td>
                                                <div class="btn_add">
                                                    <a href="#" class="btn_plus" onclick="fnlist.add(this);return false;"><span></span></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {:}
	                                    {@MC_list}
	                                    <tr class="fnli">
	                                        <td class="line">
	                                            <input type="text"  name="ch_name[]" value="{.MC_NAME}" class="ipt_box" >
	                                        </td>
	                                        <td class="line">
	                                        	<div class="select ipt_box sz_sm">
                                                    <span>{.mc_year}년</span>
                                                    <select class="" name="ch_year[]">
                                                        {.mc_year_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>{=number_format(.mc_month)}월</span>
                                                    <select class="" name="ch_month[]">
                                                        {.mc_month_list}
                                                    </select>
                                                </div>
                                                <span class="unit dash"></span>
                                                <div class="select ipt_box sz_sm">
                                                    <span>{=number_format(.mc_day)}일</span>
                                                    <select class="" name="ch_day[]">
                                                        {.mc_day_list}
                                                    </select>
                                                </div>
	                                        </td>
	                                        <td class="line">
	                                        	<div class="select ipt_box sz_sm">
	                                        		<span>{? .MC_GENDER==''}성별{/}{? .MC_GENDER=='F'}여{/}{? .MC_GENDER=='M'}남{/}</span>
	                                        		<select class=""  name="ch_gender[]">
		                                                <option value=""{? .MC_GENDER==''}selected="selected"{/}>성별</option>
		                                                <option value="F" {? .MC_GENDER=='F'}selected="selected"{/}>여</option>
		                                                <option value="M" {? .MC_GENDER=='M'}selected="selected"{/}>남</option>
		                                            </select>
	                                        	</div>
	                                            
	                                        </td>
	                                        <td>
	                                            <div class="btn_add">
	                                            	
	                                                <a href="#" class="btn_plus" onclick="fnlist.add(this);return false;"><span></span></a>
	                                                <a href="#" class="btn_minus" onclick="fnlist.del(this);return false;"><span></span></a>
	                                            </div>
	                                        </td>
	                                    </tr>
	                                    
	                                    {/}
	                                    {/}
	                                </tbody>
	                            </table>
	
	                            <script type="text/javascript">
	                                var fnlist = {
	                                    add:function(obj){
	                                    	var count=$('.fnlist tr').length;
                                        	if(count<4){
		                                        var $obj = $(obj).closest(".fnlist");
		                                        var $li = $(obj).closest(".fnli");
		                                        var $tg = $obj.find(".hiddenform").clone().removeClass("hiddenform");
		                                        $li.after("<tr class='fnli'>"+$tg.html()+"</tr>");
	                                        }
	                                        selAct();
	                                    },
	                                    del:function(obj){
	                                        var $li = $(obj).closest(".fnli");
	                                        $li.remove();
	                                    }
	                                }
	                            </script>
	                        </div>
	                    </section>
	
	                    <div class="btn_wrap">
	                    	<a href="/my/pw_change" role="button" class="btn btn_next"><span>비밀번호 변경</span></a>
	                        <a href="#" onclick="frm_input();" role="button" class="btn btn_next"><span>저장</span></a>
	                    </div>

                	</form>
                </div>
            </div>
        </section>
    </article>

    <!--옴길 스크립트-->
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script>
	    var checkUnload = true;
	    $(window).on("beforeunload", function(){
	        if(checkUnload) return "변경된 기본정보가 있습니다. 수정을 원하신다면 페이지내의 수정하기 버튼을 눌러야 반영됩니다.";
	    });
	</script>
	<script>
	function get_post(){
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
	            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
	            $("#M_POST").val(data.zonecode);
	            $("#M_ADDR1").val(data.address);
	        }
	    }).open();
	    }
	</script>
{ #layout_footer }