{ #layout_header }
{ #menu_gnb }
<article id="contents">
        
        <section id="mypage" class="page_wrap">
            <div class="container">
                <div class="page_top">
                    <h4 style="margin-bottom:0;">포인트 내역</h4>
                </div>
                <div class="my_point">
                    <div class="crt_point">
                        <span>현재 보유 포인트</span>
                        <span class="pt">{=number_format(pldata['PL_TOTALPOINT'])}</span>
                        <div class="disappear_point">
                            당월 소멸 예정 포인트 <span>{=number_format(ptdata['pt_point'])}p</span>
                        </div>
                    </div>
                    <a href="/point/index" class="button btn_line"><span>포인트 안내</span></a>
                </div>

                <div class="page_body join_form">
                    <section>
                        <div class="tb tb_view tb_point">
                            <table>
                                <colgroup>
                                    <col width="140px">
                                    <col width="80px">
                                    <col width="320px">
                                    <col width="140px">
                                    <col width="140px">
                                    <col width="140px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="line">날짜</th>
                                        <th class="line">유형</th>
                                        <th class="line">내용</th>
                                        <th class="line">적립</th>
                                        <th class="line">사용</th>
                                        <th>포인트 잔액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{@ list}
                                	<tr>
                                        <td class="line">{=substr(.PL_CREDATE, 0, 10)}</td>
                                        <td class="line">{.PL_USE}</td>
                                        <td class="line">{.PL_CODE_TXT}{? .PL_TITLE!=""}({.PL_TITLE}){/}</td>
                                        <td class="line"><span class="color">{? .PL_TYPE=="U"}{=number_format(.PL_POINT)}p{/}</span></td>
                                        <td class="line">{? .PL_TYPE=="D"}-{=number_format(.PL_POINT)}p{/}</td>
                                        <td>{.PL_TOTALPOINT}p</td>
                                    </tr>
                                    {:}
                                    <tr>
                                        <td colspan="6"><p class="none">등록 된 포인트내역이 없습니다.</p></td>
                                    </tr>
                                    {/}
                                    
                                </tbody>
                            </table>
                        </div>
                        {pagination}
                    </section>

                </div>
            </div>
        </section>
    </article>
{ #layout_footer }