{ #layout_header }
{ #menu_gnb }
<script>
    function search_frm(type){
        $("#F_TYPE").val(type);
        $("#frm_search").submit();
    }

    function search_submit() {
        $('#search_frm').submit();
    }

    function view_cnt(id) {
            $.ajax({
                type: "GET",
                url: "/contact/view_chk",
                dataType:'json',
                data: {id:id},
                success: function (result) {

                }
            });

    }

</script>
<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/contact/contact_index">Contact</a><span>/</span><strong>FAQ</strong>
    </div>
    <section id="contact" class="page_wrap" >
        <div class="container">
            <div class="page_top">
                <h4>FAQ</h4>
                <p>자주 문의하시는 질문과 답변을 빠르고 편리하게 확인하세요.</p>
            </div>
        </div>
        <div class="{? (method=="faq_list") }faq_wrap{/}"  >
            <form class="frmEstimate" name="search_frm" id="search_frm"  method="get" action="/contact/faq_list">
                <div class="faq_search">
                    <select class="ipt_box" name="F_TYPE">
                        <option value="" {? F_TYPE==""}selected="selected"{/}>전체</option>
                        {@ code_list}
                        <option value="{.C_CODE_PA}" {? .C_CODE_PA==F_TYPE}selected="selected"{/}>{.C_CODE_TXT}</option>
                        {/}
                    </select>
                    <input type="text" name="search_S" class="ipt_box" value="{search_S}" placeholder="궁금하신 내용을 입력해주세요.">
                    <button class="btn_srch" onclick="javascript:search_submit();">조회</button>
                </div>
            </form>
        </div>
        <div class="faq_list">
            <form id="frm_search" name="frm_search" method="get" action="/contact/faq_list">
                <input type="hidden" name="F_TYPE" id="F_TYPE" value="{F_TYPE}">
                <input type="hidden" name="search_text" id="search_text" value="">
                <div class="tab color">
                    <ul>
                        <li {? F_TYPE==""} class="on"{:}class=""{/}><a href="javascript:search_frm('');"  role="button">전체</a></li>
                        {@ type_list}
                        <li {? F_TYPE==.C_CODE_PA} class="on"{:}class=""{/} role="button" ><a href="javascript:search_frm('{.C_CODE_PA}');">{.C_CODE_TXT}</a></li>
                        {/}
                    </ul>
                    <script type="text/javascript">
                        $(function(){
                            $(".tab li a").on("click", function(){
                                var $tab = $(this).parent();
                                var _idx = $tab.index();
                                if(!$tab.hasClass("on")){
                                    $(".tab .on,.tab-contents.on").removeClass("on");
                                    $(".tab li:eq("+_idx+"),.tab-contents:eq("+_idx+")").addClass("on");
                                }
                            })
                        })
                    </script>
                </div>
            </form>
            <div class="container">
                <div class="acc-list">
                    <ul class="tab-contents on">
                        {?faq_list}
                            {@ faq_list}
                            <li>
                                <a href="#" role="button" onclick="accFn(this);return false;">
                                    <span class="sort">Q</span>
                                    <span class="tit" onclick="javascript:view_cnt('{.F_IDX}');">[{.faq_type_txt}] {=nl2br(.F_QDATA)}</span>
                                </a>
                                <div class="answer">
                                    <span class="sort">A</span>
                                    <span class="txt">
                                            {=nl2br(.F_ADATA)}
                                        </span>
                                </div>
                            </li>
                            {/}
                        {:}
                            {?search_S != ""}
                                <script type="text/javascript" language="JavaScript">
                                    $("#search_text").val("N");
                                </script>
                            {/}

                            <li>
                                <span class="txt" style="font-size: 16px; text-align: center">등록 된 정보가 없습니다.</span>
                            </li>
                        {/}
                    </ul>
                    <script type="text/javascript">
                        function accFn(obj){
                            var $tg = $(obj).closest("li");
                            var $answer = $tg.find(".answer")
                            $tg.toggleClass("on");
                            var _h = $answer.find(".txt").outerHeight();
                            if($tg.hasClass("on")) $answer.css({'height':_h})
                            else $answer.css({'height':0});
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
</article>

{ #layout_footer }
<script type="text/javascript" language="JavaScript">
    window.onload = function()
    {
        var search_text = $("#search_text").val();
        if(search_text =="N"){
            nonalert();
        }else{

        }
    }
    function nonalert(){
        alert("검색하신 내용의 정보가 없습니다.");
    }
</script>