{ #layout_header }
{ #menu_gnb }

<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/contact/contact_index">Contact</a><span>/</span><strong>공지사항</strong>
    </div>
    <section id="contact" class="page_wrap">
        <div class="container">
            <div class="page_top">
                <h4>공지사항</h4>
            </div>
        </div>
        <div class="notice">
            <div class="container">
                <div class="tb tb_list">
                    <table>
                        <colgroup>
                            <col width="110">
                            <col width="*">
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {@ list}
                            <tr style="cursor:pointer" onclick="javascript:move_url('{.NOTICE_IDX}');" >
                                <td>{start_no-.index_}</td>
                                <td>
                                    {.NOTICE_TITLE}
                                </td>
                                <td>{=substr(.NOTICE_CREDATE, 0, 10)}</td>
                            </tr>
                        </tbody>
                        {/}
                    </table>
                </div>

                {pagination}

            </div>

        </div>

    </section>
    <form class="frmView" action="/contact/notice_view" method="get">
        <input type="hidden" name="per_page" id="per_page" value="{per_page}">
        <input type="hidden" name="notice_idx" id="notice_idx" value="">
    </form>
</article>
<script type="text/javascript">
    function move_url(idx) {
        $('#notice_idx').val(idx);
        $('.frmView').submit();
    }
</script>
{ #layout_footer }