{ #layout_header }
{ #menu_gnb }
<article id="contents">

        <section id="join">
            <div class="container">
                <div class="join_privacy">
                    <div class="join_top">
                        <h3>회원가입 <span class="txt">일루마의 회원이 되시면 500포인트를 드립니다.</span></h3>
                    </div>
                    <div class="join_form">
                        
                        <div class="agree_wrap">
                            <h4>이용약관</h4>
                            <div class="scroll_wrap">
                                <div class="inner_txt">
                                    이용약관
                                </div>
                            </div>
                            <div class="agree_bot">
                                <div class="txt_caution agree01_txt"></div>
                                <div class="chk_wrap">
                                    <label>
                                        <input type="checkbox"  name="agree" id="agree01" >  이용약관에 동의합니다.(필수)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="agree_wrap">
                            <h4>개인정보 처리방침</h4>
                            <div class="scroll_wrap">
                                <div class="inner_txt">
                                    개인정보처리방침
                                </div>
                            </div>
                            <div class="agree_bot">
                                <div class="txt_caution agree02_txt"></div>
                                <div class="chk_wrap">
                                    <label>
                                        <input type="checkbox"  name="agree" id="agree02" > 개인정보 처리방침에 동의합니다. (필수)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="agree_wrap">
                            <h4>개인정보 취급위탁</h4>
                            <div class="scroll_wrap">
                                <div class="inner_txt">
                                    개인정보 취급위탁 TBD
                                </div>
                            </div>
                            <div class="agree_bot">
                                <div class="txt_caution agree03_txt"></div>
                                <div class="chk_wrap">
                                    <label>
                                        <input type="checkbox"   name="agree" id="agree03" > 개인정보의 취급위탁에 동의합니다. (필수)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="agree_allchk">
                            <div class="chk_wrap">
                                <label>
                                    <input type="checkbox"   name="agreeall" id="agreeall" > 전체동의
                                </label>
                            </div>
                        </div>

                        <div class="btn_wrap">
                            <a href="javascript:chk_agree();" role="button" class="btn btn_next"><span>동의</span></a>
                            <a href="/"  role="button" class="btn btn_round"><span>동의안함</span></a>
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>
        
      
        <form name="frm_input" id="frm_input" method="post" action="/join/join_form">
	    	<input type="hidden" name="ret_url" id="ret_url" value="{ret_url}">
	    </form>
       
        <script type="application/javascript">
        $(document).ready(function(){
		    $("#agreeall").click(function(){
		        if($("#agreeall").prop("checked")){
		            $("input[name=agree]").prop("checked",true);
		            //클릭이 안되있으면
		        }else{
		            $("input[name=agree]").prop("checked",false);
		        }
		    })
		})

        	function chk_agree(){
				if($("input:checkbox[id=agree01]").is(":checked")==true && $("input:checkbox[id=agree02]").is(":checked")== true && $("input:checkbox[id=agree03]").is(":checked")==true){
					$('#frm_input').submit();
				}else{
					if($("input:checkbox[id=agree01]").is(":checked")==false){
						$(".agree01_txt").text(" 약관에 동의해 주세요.");
				 		alert('홈페이지 이용약관 동의가 필요합니다.');
					}else if($("input:checkbox[id=agree02]").is(":checked")==false){
						$(".agree02_txt").text("개인정보 처리방침에 동의해 주세요.");
						alert('개인정보 처리방침에 동의가 필요합니다.');
					}else if($("input:checkbox[id=agree03]").is(":checked")==false){
						$(".agree03_txt").text("개인정보의 취급위탁에 동의해 주세요.");
						alert('개인정보 취급 위탁에 동의가 필요합니다.');
					}
				}
			}
        </script>
    </article>
{ #layout_footer }