 <footer>
        <div class="foot_top">
            <div class="container">
                <p><img src=" {? (method=='smart' || method=='smart_view') } /images/diary/foot_smartdiary.png {:} /images/foot_logo.png {/} " alt="illuma"></p>
                <div class="snswrap">
                    <a href="https://www.instagram.com/goldendrop_baby/" target="_blank"><img src="/images/sns_insta.png" alt="instagram link"></a>
                </div>
            </div>
        </div>
        <div class="foot_menu">
            <div class="container">
                <a href="#" onclick="alert_ready();return false;">이용약관</a>
                <a href="#" onclick="alert_ready();return false;">개인정보 처리방침</a>
            </div>
        </div>
        <div class="foot_addr">
            <div class="container">
                <p>사업자등록번호 : 110-86-10100  /  통신판매업신고번호 : 2014-서울서대문-0247  /  대표이사 : 어완뷜프<br>
                주소 : 서울특별시 서대문구 충정로 70, 15~16F  /  소비자상담실 : 080-600-2000, 평일 09:00~18:00, 주말, 공휴일 및 점심시간(12:00~13:00) 제외</p>
                <span>Copyright © 2018 Nestle Inc. 모든 권리 보유. ⓇReg. Trademark of Société des Produits Nestlé S.A.</span>
            </div>
        </div>
    </footer>

</div>
</body>
</html>