/*
Copyright (c) 2017, Igini. All rights reserved.
version: 1.0.0
*/

/* common */
.container{position:relative;width:960px;;margin:0 auto;}
.row{position:relative;}
.txt_caution,
label.error{font-weight:500;color:#ed1c24;}
::-webkit-input-placeholder{/* Chrome/Opera/Safari */ color:#ccc;}
::-moz-placeholder{/* Firefox 19+ */ color:#ccc;}
:-ms-input-placeholder{/* IE 10+ */ color:#ccc;}
:-moz-placeholder{/* Firefox 18- */ color:#ccc;}
select{background: url(../../images/common/bg_select.png) no-repeat 100% 50%; -webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;cursor:pointer;}
select::-ms-expand { /* for IE 11 */display: none;}
.select{display:inline-block;position:relative;background: url(../../images/common/bg_select.png) no-repeat 100% 50%;overflow:hidden;vertical-align:middle;}
.select span{display:block;text-align:left;}
.select select{position:absolute;top:0;left:0;width:100%;height:100%;background:none;opacity:0;filter:alpha(opacity=0);}


/* header */
#header{min-height:125px;background:url(../../images/common/bg_headline.png) repeat-x 50% 120px;}
#header.active::before,
#header.on::before{content:'';position:absolute;top:125px;left:0;display:block;width:100%;height:45px;background-color:#f7f4ed;z-index:1;}
#header h1{height:85px;padding-top:28px;text-align:center;}

	.utilmenu{position:absolute;top:15px;right:0;}
	.utilmenu a{padding:1px 0 1px 25px;background:url(../../images/common/ico_util.png) no-repeat 0 2px;font-size:12px;font-weight:300;color:#666;}
	.utilmenu a.line{margin-right:15px;padding-right:15px;border-right:1px solid #ccc;}
	.utilmenu .btn_mypage{background-position-y:-21px;}
	.utilmenu .btn_join{background-position-y:-63px;}
	.utilmenu .btn_log{background-position-y:-42px;}
	.gnb{position:relative;display:inline-block;width:100%;padding:0 19px 0 20px;z-index:10;}
	.gnb a{position:relative;}
	.gnb span.kor{position:absolute;top:0;left:0;width:100%;opacity:0;filter:alpha(opacity=0);}
	.gnb .menu{display:block;float:left;}
	.gnb .menu > a{display:block;height:35px;text-align:center;line-height:35px;}
	.gnb .menu1 > a{width:146px;}
	.gnb .menu2 > a{width:190px;}
	.gnb .menu3 > a{width:247px;}
	.gnb .menu4 > a{width:222px;}
	.gnb .menu5 > a{width:116px;}
	.gnb .menu > a span{font-family: 'museo_sans500','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움';font-size:16px;color:#8496a0;}
	.gnb .menu > a span.kor{font-size:15px;font-weight:500;}
	.gnb .menu.on > a span,
	.gnb .menu.hover > a span{opacity:0;filter:alpha(opacity=0);color:transparent;}
	.gnb .menu.on > a span.kor,
	.gnb .menu.hover > a span.kor{font-weight:600;opacity:1;filter:alpha(opacity=100);color:#806a59;}
	.gnb .dep2,
	.gnb .dep3{position:absolute;top:100%;left:0;display:none;width:100%;height:50px;}
	.gnb .menu1 .dep2{padding-left:50px;}
	.gnb .menu2 .dep2{padding-left:235px;}
	.gnb .menu3 .dep2{padding-left:311px;}
	.gnb .menu4 .dep2{padding-left:686px;}
	.gnb .menu5 .dep2{padding-right:20px;text-align:right;}
	.gnb .dep3{top:38px;height:40px;}
	.gnb .dep2 > li,
	.gnb .dep3 > li{display:inline-block;vertical-align:top;}
	.gnb .dep2 > li{height:50px;}
	.gnb .dep2 > li > a{display:block;padding-top:20px;padding-right:30px;} 
	.gnb .dep2 > li > a span{display:block;height:20px;font-family: 'museo_sans500','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움';font-size:16px;color:#8496a0;}
	.gnb .dep2 > li > a span.kor{top:20px;font-size:15px;}
	.gnb .menu5 .dep2 > li > a span{font-size:16px;}
	.gnb .menu5 .dep2 > li > a span.kor{font-size:15px;right:30px;left:inherit;}
	.gnb .dep2 > li.on > a span,
	.gnb .dep2 > li.hover > a span{font-weight:600;color:#806a59;opacity:0;filter:alpha(opacity=0);}
	.gnb .dep2 > li.on > a span.kor,
	.gnb .dep2 > li.hover > a span.kor{display:block;opacity:1;filter:alpha(opacity=100);}
	.gnb .dep3 > li{padding-top:8px;float:left;;}
	.gnb .dep3 > li > a{display:inline-block;max-width:185px;min-width:80px;background:#a78d4e;height:32px;padding:0 20px;line-height:30px;border-bottom:3px solid #7b5427;border-right:1px solid #806a59;font-size:15px;font-weight:300;color:#fff;text-align:center;}
	.gnb .dep3 > li > a span.kor{font-size:14px;}
	.gnb .dep3 > li:last-child > a{border-right:none;}
	.gnb .dep3 > li.on > a,
	.gnb .dep3 > li> a:hover{background-color:#806a59;border-bottom:3px solid #26201b;}
	.gnb .dep3 > li.on > a span,
	.gnb .dep3 > li> a:hover span{opacity:0;filter:alpha(opacity=0);color:transparent;}
	.gnb .dep3 > li.on > a span.kor,
	.gnb .dep3 > li> a:hover span.kor{color:#fff;opacity:1;filter:alpha(opacity=100);}
	/* 3depth menu */
	.gnb .menu1 .subm2 .dep3{padding-left:140px;}
	.gnb .menu2 .subm1 .dep3{padding-left:120px;}
	.gnb .menu .dep3 li.tri a::after{content:'';position:absolute;top:-8px;left:80px;width:0;height:0;border-top:8px solid none;border-bottom:8px solid #a78d4e;border-right: 8px solid transparent;border-left: 8px solid  transparent;}
	.gnb .menu .dep3 li.tri.on a::after,
	.gnb .menu .dep3 li.tri a:hover::after{border-bottom:8px solid #806a59}
	.gnb .menu1 .subm2 .dep3 li.tri a::after{left:57px;}
	.gnb .menu2 .subm1 .dep3 li.tri a::after{left:38px;}

	.gnb .menu.on .dep2,
	.gnb .menu.on .dep2 .on .dep3{display:block;}

	#header.active .gnb .menu.on .dep2,
	#header.active .gnb .menu.on .dep2 .on .dep3{display:none;}
	#header.active .gnb .menu.hover .dep2,
	#header.active .gnb .menu.hover .dep2 .hover .dep3{display:block;}

	.foot_top{height:70px;background-color:#caab5e;}
	.foot_top p{padding:18px 0 0;}
	.foot_top .snswrap{position:absolute;top:18px;right:0;}
	.foot_top .snswrap a{margin-left:18px;}

	.foot_menu .container{height:70px;padding:0;}
	.foot_menu .container::before{content:'';position:absolute;bottom:0;left:-20px;width:1000px;height:1px;background:#f4f0ea;}
	.foot_menu a{display:block;margin:27px 48px 0 0;font-size:16px;color:#a78d4e;float:left;}
	.foot_addr{font-size:14px;}
	.foot_addr .container{padding:30px 0;font-weight:300;color:#a9a9a9;line-height:1.6;}
	.foot_addr .container span{display:block;margin-top:5px;color:#898989;}

/* form */
.ipt_box{padding-left:10px;width:100%;height:28px;font-size:14px;border:1px solid #d3c6a6;letter-spacing:-.05em;}
.ipt_box.readonly{background-color:#f2ede4;}
.ipt_box.sz_sm{width:109px;}
.ipt_box.sz_s{width:135px;}
.ipt_box.sz_md{width:180px;}
.ipt_box.sz_lg{width:250px;}
.ipt_box.sz_xl{width:350px;}
.ipt_box.select span{height:26px;line-height:26px;font-size:14px;}
.tit_inner{display:inline-block;width:200px;height:28px;line-height:28px;font-size:14px;font-weight:500;color:#806a59;}
.tit_inner.tit_inline{width:auto;margin-right:10px;}
.radio_wrap{margin-right:10px;}
.radio_wrap input[type=radio]{display:none;}
.radio_wrap input[type=radio] + label{cursor:pointer;font-size:14px;font-weight:300;}
.radio_wrap input[type=radio] + label span{display:inline-block;width:18px;height:18px;margin:-2px 6px 0 0;vertical-align:middle; background:url(../../images/common/bg_radio.png) no-repeat 0 100%;}
.radio_wrap input[type=radio]:checked + label span{background-position-y:0;}
.chk_wrap label{display:block;font-size:14px;font-weight:300;color:#666;cursor:pointer;}
.chk_wrap label input{margin-top:0;vertical-align:middle;}
.txt_chk{font-size:14px;font-weight:500;color:#8496a0;}
.txt_info{font-size:14px;font-weight:300;color:#806a59;}
.filebox input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.filebox label{display:inline-block;height:28px;padding:0 .75em;;margin-left:5px;color:#806a59;font-size: inherit;vertical-align: middle;background-color:#f2ede4;border:1px solid #d3c6a6;cursor:pointer;line-height:28px;}
/* named upload */
.filebox .upload-name{display:inline-block;font-size:inherit;font-family:inherit;line-height:normal;vertical-align:middle;background-color:#fff;border:1px solid #d3c6a6;-webkit-appearance: none;-moz-appearance: none;  appearance: none;}
p.none{padding:20px 0;font-size:14px;color:#666;font-weight:300;text-align:center;}



/* thumbnail list */
.thumb_list .list_search{text-align:right;}
.thumb_list ul{overflow:hidden;}
.thumb_list .col2 li{width:470px;margin-right:20px;float:left;}
.thumb_list .col3 li{width:310px;margin-right:15px;float:left;}
.thumb_list ul li.right{margin-right:0;}
.thumb_list ul li span{display:block;color:#666;}
.thumb_list ul li span.gd{color:#a78d4e;}
.thumb_list ul li span.bk{color:#333;}
.thumb_list .col3 li .sort{font-size:14px;font-weight:500;color:#666;}
.thumb_list .sns_instar li{width:184px;height:184px;float:left;margin:0 10px 10px 0;}
.thumb_list .hor_list li{padding:40px 0;border-bottom:1px dashed #ccc;overflow:hidden;}
.thumb_list .hor_list .imgwrap{float:left;}
.thumb_list .hor_list .incont{width:600px;padding-left:20px;float:left;}
.thumb_list .hor_list .date{font-size:14px;font-weight:600;color:#a78d4e;}
.thumb_list .hor_list .date span{display:inline;margin-left:10px;font-weight:300;color:#a78d4e;}
.thumb_list .hor_list .tit{margin:40px 0 15px;font-size:20px;font-weight:600;}
.thumb_list .hor_list .txt{font-size:14px;font-weight:300;color:#666;line-height:1.6;}
.thumb_list .hor_list .snswrap{margin-top:30px;}
.thumb_list .hor_list .snswrap .btn_sns{padding-right:8px;margin-right:8px;border-right:1px solid #e7e7e7;}
.thumb_list .hor_list .snswrap .btn_sns:last-child{margin-right:0;border:none;}

/* Validator */
.caution .txt_chk{color:#ed1c24;}
.caution .ipt_box[type=text],
.caution .ipt_box[type=password]{border:2px solid #806a59;}

/* table */
.tb{width:100%;border-top:3px solid #d3c6a6;}
.tb table{width:100%;table-layout:fixed;}
.tb table th,
.tb table td{border-bottom:1px solid #c6c6c6;}
.tb table .line{border-right:1px solid #c6c6c6;}
.tb table .bg{background-color:#f4f4f4;}
.tb table th{padding:15px 20px;background-color:#fbf9f6;font-size:14px;font-weight:600;color:#666;text-align:left;vertical-align:top;}
.tb table th span.important{color:#ed1c24;}
.tb table th.none{background-color:#fff;}
.tb table th.rowtop{padding-top:25px;vertical-align:top;line-height:1.4;}
.tb table td{padding:7px 20px 10px;font-size:14px;line-height:1.2;}
.tb table td .color{color:#806a59;}
.tb table td .pt{color:#7d583b;}
.tb table .line_dash{border-bottom:1px dashed #ccc !important;}
.tb table .unit{display:inline-block;width:15px;height:28px;margin:0 3px;font-size:16px;line-height:28px;text-align:center;}
.tb table .unit.dash{vertical-align:middle;}
.tb table .unit.dash::after{content:'';display:block;width:10px;height:2px;margin:13px auto 0;background-color:#806a59;}
.tb.tb_sm table th{padding:15px 0;font-size:16px;color:#666;text-align:center;}
.tb.tb_sm table td{padding:10px 0;font-size:14px;font-weight:300;color:#666;text-align:center;}
.tb.tb_sm table .pdleft{padding-left:20px;}
.tb.tb_view table th,
.tb.tb_view table td{font-size:14px;color:#666;}
.tb.tb_view table td{font-weight:300;}
.tb.tb_view table td .color{font-weight:500;color:#806a59;}
.tb.tb_view table td .btn_inner{vertical-align:middle;}
.tb.tb_view .infotxt{position:relative;padding:30px 0 25px;font-size:14px;font-weight:300;color:#666;line-height:2;}
.tb.tb_view .infotxt .button{position:absolute;top:40px;right:20px;}
.tb.tb_center table th,
.tb.tb_center table td{text-align:center;}
.hiddenform{display:none;}
.txtlist{border-top:3px solid #d3c6a6;}
.txtlist li{height:48px;border-bottom:1px solid #c6c6c6;}
.txtlist li a{display:block;line-height:48px;}
.txtlist li a span{display:block;font-size:15px;color:#666;float:left;}
.txtlist li .title{width:80%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.txtlist li .date{width:20%;text-align:right;color:#999;}

/* tab */
.tab{width:100%;border-bottom:1px solid #8496a0;}
.tab ul{display:block;width:960px;margin:0 auto -1px;overflow:hidden;}
.tab ul li{height:50px;background-color:#fff;border:1px solid #d9d9d9;border-left:none;border-bottom:1px solid #8496a0;float:left;}
.tab ul li:first-child{margin-left:0 !important;border-left:1px solid #d9d9d9;}
.tab ul li.on{margin-left:-1px;border:1px solid #8496a0;border-bottom:1px solid #fff;}
.tab ul li a{display:block;width:100%;height:100%;font-size:16px;font-weight:400;color:#8496a0;text-align:center;line-height:50px;}
.tab ul li.on a{color:#666;background:url(../../images/common/tab_on.png) no-repeat 50% 100%;line-height:40px;}
.tab.color{border-bottom:1px solid #7d5938;}
.tab.color ul li{border:1px solid #beac9b;border-left:none;border-bottom:1px solid #7d5938;}
.tab.color ul li:first-child{border-left:1px solid #beac9b;}
.tab.color ul li.on{border:1px solid #7d5938;border-bottom:1px solid #fff;}
.tab.color ul li a{color:#a78d4e;}
.tab.color ul li.on a{font-weight:600;color:#7d5938;background:url(../../images/common/tab_color_on.png) no-repeat 50% 100%;}
.tab-contents{display:none;}
.tab-contents.on{display:block;}

/* button */
.btn_inner{display:inline-block;min-width:100px;padding:0 10px;margin-left:5px;height:28px;background-color:#f2ede4;border:1px solid #d3c6a6;vertical-align:top;font-size:14px;font-weight:500;color:#806a59;text-align:center;line-height:24px;}
.btn_inner.line{background-color:#fff;border:1px solid #c6c6c6;color:#666;}
.btn_inner.off{display:none;}
.btn_wrap{text-align:center;}
.button,
.btn_wrap .btn{display:inline-block;width:160px;height:50px;border-radius:5px;text-align:center;}
.btn_wrap .btn span,
.button span{height:50px;line-height:50px;font-size:18px;font-weight:600;color:#fff;}
.button.btn_wh{background-color:#fff;}
.button.btn_wh span{color:#7d5938;}
.btn_wrap .btn_next,
.btn_solid{background-color:#7d5938;}
.btn_wrap .btn_round,
.btn_line{border:1px solid #7d5938;}
.btn_wrap .btn_round span,
.btn_line span{height:48px;line-height:48px;color:#7d5938;}
.btn_add{height:30px;overflow:hidden;}
.btn_add a{display:block;width:49px;height:28px;border:1px solid #d3c6a6;overflow:hidden;float:left;}
.btn_add .btn_plus{background:#f2ede4 url(../../images/common/ico_add.png) no-repeat 18px 8px;}
.btn_add .btn_minus{margin-left:-1px;background:#fff url(../../images/common/ico_add.png) no-repeat -32px 8px;}
.btn_listnav{color:#666;}

/* login */
#login{padding:45px 0 80px;}
.login_wrap{margin:0;padding:80px 0 40px;border-bottom:1px dashed #ccc;overflow:hidden;}
	.login_wrap h3{font-size:45px;font-weight:300;color:#a78d4e;}
	.login_form{width:480px;margin-right:60px;float:left;}
	.login_form h3{margin-bottom:65px;}
	.login_form .form_wrap{}
	.login_form .form_wrap .iptbox{position:relative;width:100%;height:55px;margin-bottom:5px;background:url(../../images/login/bg_ipt.png) no-repeat 0 100%;}
	.login_form .form_wrap .iptbox .ipt{width:100%;height:52px;font-size:18px;}
	.login_form .form_wrap .iptbox .ipt::-webkit-input-placeholder{/* Chrome/Opera/Safari */ color:#333;}
	.login_form .form_wrap .iptbox .ipt::-moz-placeholder{/* Firefox 19+ */ color:#333;}
	.login_form .form_wrap .iptbox .ipt:-ms-input-placeholder{/* IE 10+ */ color:#333;}
	.login_form .form_wrap .iptbox .ipt:-moz-placeholder{/* Firefox 18- */ color:#333;}
	.login_form .form_wrap .txt_caution,
	.login_form .form_wrap label.error{position:absolute;top:20px;right:0;font-size:14px;}
	.login_form .login_util{margin-top:25px;overflow:hidden;}
	.login_form .login_util .checkbox_wrap{font-size:16px;color:#8f8f8f;}
	.login_form .login_util .checkbox_wrap input{vertical-align:middle;}
	.login_form .login_util .btn_wrap{float:right;}
	.login_form .login_util .btn_wrap .btn_txt{font-size:16px;font-weight:300;color:#333;}
	.login_form .login_util .btn_wrap .btn_find_id{margin-right:3px;padding-right:8px;border-right:1px solid #a0a0a0;}
	.login_form .btn_login{width:200px;margin-top:35px;}
	.login_join{width:420px;float:left;}
	.login_join h3{margin-bottom:20px;}
	.login_join .txt{margin-bottom:30px;font-size:15px;font-weight:300;color:#333;line-height:1.3;}
	.login_join .banner{margin-bottom:30px;}
	.login_join .btn_join{width:200px;}
.login_faq{padding-top:48px;font-size:14px;font-weight:300}
	.login_faq .btn_faq{display:block;width:200px;margin-top:27px;}	

/* join */
#join{padding:125px 0 80px;}
	.join_top{padding:0 0 30px;border-bottom:1px dashed #ccc;}
	.join_top h3{;font-size:45px;font-weight:300;color:#a78d4e;} 
	.join_top .txt{font-size:15px;font-weight:300;color:#333;line-height:1.5;letter-spacing:-.05em;}
	.join_top h3 .txt{margin-left:10px;}
	.join_top > p.txt{margin-top:20px;}
	.certify{padding:40px 0;border-bottom:1px dashed #ccc;overflow:hidden;}
	.certify_box{position:relative;width:50%;height:140px;padding-left:200px;background:url(../../images/join/ico_ipin.png) no-repeat 0 50%;float:left;}
	.certify_box.phone{padding-left:250px;background:url(../../images/join/ico_phone.png) no-repeat 60px 50%;}
	.certify_box.phone::before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:#c6c6c6;}
	.certify_box h4{margin:20px 0 30px;font-size:20px;font-weight:600;color:#a78d4e;}
	.certify_box p{margin-bottom:30px;font-size:14px;color:#333;}
	.certify_box .button{width:200px;}
	.find_certify{padding:40px 0 50px;border-bottom:1px dashed #ccc;overflow:hidden;}
	.find_certify_box{position:relative;width:300px;text-align:center;float:left;}
	.find_certify_box h4{margin-bottom:50px;font-size:20px;color:#a78d4e;}
	.find_certify_box .button{width:200px;margin-top:30px;}
	.find_certify_box::before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:#c6c6c6;}
	.find_certify_box.form{width:360px;padding-right:50px;}
	.find_certify_box.form.only{width:310px;margin:0 auto;padding:0;float:inherit;}
	.find_certify_box.form::before{display:none;}
	.find_certify_box.form .select_wrap{position:absolute;top:40px;width:320px;}
	.find_certify_box.form h4{margin-bottom:60px;}
	.find_certify_box.form .ipt_wrap{display:none;padding-bottom:17px;}
	.find_certify_box.form.only .ipt_wrap{padding-bottom:0;}
	.find_certify_box.form .ipt_wrap.on{display:block;}
	.find_certify_box.form .ipt_box{margin-bottom:10px;}
	.find_certify_box.form .ipt_left{width:200px;}
	.find_certify_box.form .button{width:100%;}
	.find_certify_box.form .btn_inner{width:104px;padding:0;text-align:center;}
	.timeline{display:inline-block;width:104px;height:28px;font-size:14px;text-align:center;line-height:28px;}
	.find_info{margin-top:40px;font-size:14px;font-weight:600;color:#333;}
	.find_info span{color:#ed1c24;}

	.ipin_info p{margin:40px 0 30px;font-size:14px;color:#333;}
	.ipin_info li{margin-top:10px;font-size:14px;font-weight:300;color:#333;}
	.ipin_info li a{font-weight:600;color:#7d5938;}
	.join_form{}
	.agree_wrap{border-bottom:1px dashed #ccc;}
	.agree_wrap h4{font-size:20px;font-weight:600;color:#a78d4e;}
	.agree_wrap .scroll_wrap{min-height:200px;background-color:#f5f5f5;border:1px solid #d6d6d6;overflow-y:auto;}
	.agree_wrap .scroll_wrap .inner_txt{padding:20px;font-size:14px;font-weight:300;color:#666;}
	.agree_wrap .agree_bot{height:50px;overflow:hidden;}
	.agree_allchk .chk_wrap{margin-top:15px;text-align:right;}
	.agree_wrap .txt_caution{padding:17px 0 0 0;font-size:14px;float:left;}
	.agree_wrap .chk_wrap{margin-top:17px;float:right;text-align:right;}
	.join_form h4{position:relative;margin-top:39px;margin-bottom:20px;font-size:20px;font-weight:500;color:#a78d4e;}
	.join_form h4 .infotxt{display:inline;font-size:14px;font-weight:300;color:#8496a0;}
	.join_form h4 .infotxt span{font-weight:500;color:#806a59;}
	.join_form h4 .txt_caution{font-size:14px;position:absolute;top:5px;right:0;}
	.join_form .txt_chk{margin-left:10px;}
	.join_form p.txt_chk{margin-top:10px;margin-left:0;}
	.join_form .txt_info{margin-top:10px;}
	.join_form .btn_inner{min-width:120px;}
	.join_root .radio_wrap{display:inline-block;margin-top:15px;width:130px;}
	.join_root .txt_info{margin:0;}
	.join_because .tit_inner{width:5%;}
	.join_because .ipt_box{width:94%;}

	#join .btn_wrap{margin-top:30px;text-align:center;}
	#join .btn_wrap a{margin:0 9px;}

/* sub page */
.location{padding-top:65px;width:960px;margin:0 auto;text-align:right;vertical-align:top;}
.location a,
.location span,
.location strong{display:inline-block;font-family:'museo_sans100','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-size:14px;font-weight:100;color:#888;}
.location span{margin:0 10px;}
.location strong{font-family:'museo_sans500','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-size:14px;font-weight:500;color:#666;}

.page_wrap{padding:45px 0 80px;letter-spacing: -.05em;}
	.page_top{padding-bottom:35px;}
		.page_top h4{font-family:'museo_sans300','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-size:45px;font-weight:300;color:#a78d4e;}
		.page_top h4.kor{font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
		.page_top p{margin-top:20px;font-size:15px;font-weight:300;color:#333;line-height:1.6;}
		.page_top p.txt_sm{margin-top:25px;font-size:14px;color:#666;}
		.page_top p.txt_sm span{padding-left:18px;}
	.page_body h5{position:relative;margin-bottom:20px;font-size:20px;font-weight:500;color:#a78d4e;}
	.page_body h5 .infotxt{display:inline;font-size:14px;font-weight:300;color:#8496a0;}
	.page_body h5 .infotxt span{font-weight:500;color:#806a59;}

/* contact */
.contact_info_box{padding:35px 0;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;overflow:hidden;}
	.contact_info_box .box{position:relative;width:50%;height:140px;padding-left:190px;background:url(../../images/contact/ico_qna.png) no-repeat 0 50%;float:left;}
	.contact_info_box .box.box_faq{position:relative;padding-left:228px;background:url(../../images/contact/ico_faq.png) no-repeat 50px 50%;}
	.contact_info_box .box.box_faq::before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:#ccc;}
	.contact_info_box .box .txt{font-size:18px;font-weight:300;color:#333;line-height:1.5;}
	.contact_info_box .box .btn{display:inline-block;width:200px;height:50px;margin-top:30px;background:#7d5938;border:1px solid #7d5938;font-size:18px;font-weight:600;color:#fff;border-radius:5px;line-height:50px;text-align:center;}
	.contact_info_box .box.box_faq .btn{border:1px solid #7d5938;background:#fff;color:#7d5938;} 

.faq_search{width:960px;margin:0 auto;}
.faq_search select{width:135px;margin-right:9px;float:left;}
.faq_search input{width:705px;margin-right:9px;float:left;}
.faq_search .btn_srch{width:100px;height:28px;background-color:#f2ede4;border:1px solid #d3c6a6;font-size:14px;font-weight:600;color:#806a59;}
.faq_list{margin-top:40px;}
	.faq_list .container{padding:0;}
	.faq_list .tab li{width:160px;}
	.faq_list .acc-list{margin-top:10px;}
		.acc-list li a{position:relative;display:block;width:100%;font-size:14px;font-weight:300;border-bottom:1px solid #c6c6c6;color:#333;}
		.acc-list li a:after{content:'';display:block;position:absolute;top:25px;right:20px;width:20px;height:11px;background:url(../../images/common/ico_acc_off.png) no-repeat 0 0;}
		.acc-list li.on a:after{background:url(../../images/common/ico_acc_on.png) no-repeat 0 0;}
		.acc-list li .tit,
		.acc-list li .txt{display:block;padding:20px 56px 20px 70px;}
		.acc-list li.on .tit{font-weight:600;}
		.acc-list li .txt{line-height:1.8;}
		.acc-list li .sort{position:absolute;top:20px;left:20px;display:block;font-family:'museo_sans500';font-weight:bold;font-size:14px;color:#a78d4e;}
		.acc-list li .answer{position:relative;height:0;background-color:#fbf9f6;font-size:14px;font-weight:300;color:#666;overflow:hidden;-webkit-transition:height .5s;transition:height .5s;}
		.acc-list li .answer .sort{top:25px;color:#6b3d10;}
		.acc-list li.on .answer{;border-bottom:1px solid #c6c6c6;}
	
	.faq_list .info{margin-top:45px;padding:3px 0 0 34px;background:url(../../images/contact/ico_caution.png) no-repeat 0 0;font-size:17px;font-weight:300;color:#333;}
	.faq_list .info .tit{font-weight:500;}
	.faq_list .info .txt{display:block;margin-top:10px;}
	.faq_list .info a{margin-right:10px;}

.qna_form textarea{padding:10px;min-height:300px;color:#ccc;font-weight:300;}
.qna_form .btn_wrap{margin-top:30px;text-align:center;}
.qna_form .tb table td{font-size:14px;}
.qna_form,
.notice .tb{margin-top:15px;}
.notice .tb.tb_list table th,
.notice .tb.tb_list table td{padding:15px;text-align:center;font-size:14px;font-weight:300;color:#333;}
.notice .tb.tb_list table th{background-color:#f4f4f4;font-weight:600;color:#666;}
.notice .tb.tb_list table td a{display:block;text-align:left;}
.notice .tb.tb_viewpage{margin-top:0;border-top:none;}
.notice .tb_viewpage .view_top{padding-top:0;}

/*.paging{text-align:center;}
.paging a{position:relative;display:inline-block;height:30px;padding:0 15px;font-size:13px;color:#666;vertical-align:top;line-height:30px;}
.paging .btn_nav{width:30px;height:30px;padding:0;background:url(../../images/common/page_first.png) no-repeat 45% 50%;border:1px solid #7d5938;border-radius:100%;line-height:28px;overflow:hidden;text-indent:-99999px}
.paging .btn_nav.prev{margin:0 5px 0 10px;background-image:url(../../images/common/page_prev.png);background-position:45% 50%;}
.paging .btn_nav.next{margin:0 10px 0 5px;background-image:url(../../images/common/page_next.png);background-position:55% 50%;}
.paging .btn_nav.last{background-image:url(../../images/common/page_last.png);background-position:55% 50%;}
.paging .btn_nav.disable{-webkit-filter: grayscale(100%); filter: grayscale(100%);-webkit-filter:opacity(30%); filter: opacity(30%);}
.paging .num::before{content:'';position:absolute;top:50%;left:0;width:10px;height:1px;background-color:#e5e5e5;}
.paging .num::after{content:'';position:absolute;top:50%;right:0;width:10px;height:1px;background-color:#e5e5e5;}
.paging .num.left::before,
.paging .num.right::after{display:none;}
.paging .num.on{font-weight:500;color:#7d5938;}
*/

.paging{margin-top:30px;text-align:center;}
.paging li{position:relative;display:inline-block;height:30px;vertical-align:top;}
.paging a{display:block;height:30px;padding:0 15px;font-size:13px;color:#666;;line-height:30px;}
.paging .btn_nav a{width:30px;height:30px;padding:0;background:url(../../images/common/page_first.png) no-repeat 45% 50%;border:1px solid #7d5938;border-radius:100%;line-height:28px;overflow:hidden;text-indent:-99999px}
.paging .btn_nav.prev a{margin:0 5px 0 10px;background-image:url(../../images/common/page_prev.png);background-position:45% 50%;}
.paging .btn_nav.next a{margin:0 10px 0 5px;background-image:url(../../images/common/page_next.png);background-position:55% 50%;}
.paging .btn_nav.last a{background-image:url(../../images/common/page_last.png);background-position:55% 50%;}
.paging .btn_nav a.disable{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */filter: grayscale(100%);-webkit-filter:opacity(30%); /* Safari */ filter: opacity(30%);}
.paging .num a::before{content:'';position:absolute;top:50%;left:0;width:10px;height:1px;background-color:#e5e5e5;}
.paging .num a::after{content:'';position:absolute;top:50%;right:0;width:10px;height:1px;background-color:#e5e5e5;}
.paging .num a.left::before,
.paging .num a.right::after{display:none;}
.paging .num a.on{font-weight:bold;color:#7d5938;}

/* Search page */
#search{padding:125px 0 80px;}
#search h4{margin-bottom:50px;font-weight:300;text-align:left;}
	#search .search_box{padding:8px 0 8px 50px;border:2px solid #d3c6a6;background:url(../../images/common/ico_srch.png) no-repeat 18px 50%;border-radius:10px;overflow:hidden;}
	#search .search_box .ipt_box{width:776px;height:40px;border:none;font-size:20px;color:#333;outline:0;}
	#search .search_box .btn_srch{width:120px;height:40px;line-height:40px;background-color:#7d5938;border-radius:5px;font-size:18px;color:#fff;}
	#search .tab ul{}
	#search .tab li{width:160px;}
	#search .tab-contents{margin-top:10px;}
	#search .search_list .tab-contents .list li{padding:30px 0 25px;border-bottom:1px dashed #ccc;}
	#search .search_list .tab-contents .list li .tit{display:block;margin-bottom:20px;font-size:20px;font-weight:600;color:#a78d4e;}
	#search .search_list .tab-contents .list li .txt{display:block;font-size:14px;font-weight:300;color:#666;line-height:2;}
	#search .search_list .paging{margin-top:39px;}

/* My page */
#mypage{padding:125px 0 80px;}
	.mypoint{padding:25px;background-color:#f6f6f6;}
	.mypoint.pointpage_top{margin:0;}
	.mypoint .top{position:relative;}
	.mypoint .top .btn_inner{position:absolute;bottom:0;right:0;width:98px;}
	.mypoint .tit{margin-bottom:2px;font-size:18px;font-weight:600;color:#333;letter-spacing:-.05em;}
	.mypoint .pt{font-size:40px;font-weight:600;color:#a78d4e;}
	.mypoint .pt span{display:inline-block;padding-right:30px;background:url(../../images/common/bg_point.png) no-repeat 100% 20px / 20px 20px }

#mypage h4{font-weight:300;text-align:left;color:#a78d4e;}
#mypage h4 .btn_inner{width:130px;margin-top:8px;line-height:36px;}
#mypage .page_top p{text-align:left;}
#mypage .page_top p.sm{font-size:14px;}
#mypage h5{margin-top:40px;}
	.order_list h5 .infotxt{margin-left:10px;}
	.order_list .paging{margin-top:40px;}
	.order_list .tb .status{display:inline-block;width:95px;text-align:right;}
	.order_list .tb .btn_inner{min-width:90px;height:30px;vertical-align:middle;}
	.search_date{padding:7px 20px 10px;border-top:3px solid #d3c6a6;border-bottom:1px solid #c6c6c6;}
	.search_date .btn{display:inline-block;width:98px;height:30px;margin-right:5px;border:1px solid #d3c6a6;}
	.search_date .btn span{display:block;height:28px;font-size:14px;color:#806a59;line-height:28px;text-align:center;}
	.search_date .btn.on{background-color:#f2ede4;}
	.search_date .cal{float:right;}
	.search_date .cal #calendar{height:30px;vertical-align:middle;}
	.search_date .cal .btn_srch{display:inline-block;width:100px;height:30px;background-color:#f2ede4;border:1px solid #d3c6a6;text-align:center;line-height:28px;vertical-align: middle;}
	.search_date .cal .btn_srch span{font-size:14px;color:#806a59;}
	.tb.tb_view table td.addr .ipt_box{width:600px;}
	.tb.tb_view table td.addr .btn_inner{width:110px;float:right;}
	.tb.tb_point table th,
	.tb.tb_point table td{padding:15px 0;text-align:center;}
	.tb.tb_point table td .color{font-weight:600;color:#7d5938;}
	.mypage_link{width:100%;overflow:hidden;}
	.mypage_link a{display:block;width:25%;height:40px;margin:40px 0 30px;padding-left:60px;font-size:20px;font-weight:500;color:#a78d4e;line-height:40px;float:left;}
	.mypage_link .link01{background:url(../../images/mypage/ico_my01.png) no-repeat 0 50%;}
	.mypage_link .link02{background:url(../../images/mypage/ico_my02.png) no-repeat 0 50%;}
	.mypage_link .link03{background:url(../../images/mypage/ico_my03.png) no-repeat 0 50%;}
	.mypage_link .link04{background:url(../../images/mypage/ico_my04.png) no-repeat 0 50%;}
	.mypage_link .link05{background:url(../../images/mypage/ico_my05.png) no-repeat 0 50%;}
	.mypage_link .link06{background:url(../../images/mypage/ico_my06.png) no-repeat 0 50%;}
	.mypage_link .link07{background:url(../../images/mypage/ico_my07.png) no-repeat 0 50%;}

#mypage .btn_wrap{margin-top:30px;}
#mypage .btn_wrap a{margin:0 9px;}
#mypage .qna_list{}
#mypage .qna_list .head{position:relative;background-color:#f7f4ed;border-top:2px solid #d3c6a6;border-bottom:1px solid #c6c6c6;}
#mypage .qna_list li span{font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움';font-size:14px;font-weight:500;color:#666;line-height:1.4;}
#mypage .qna_list li .tit{padding:20px 170px 20px 80px;font-weight:300;}
#mypage .qna_list li .tit.none{padding:20px 0;border-bottom:1px solid #c6c6c6;text-align:center;}
#mypage .qna_list li.on .tit,
#mypage .qna_list .head .tit{font-weight:500;}
#mypage .qna_list li.on .tit{color:#333;}
#mypage .qna_list li .tit .file{display:block;margin-top:15px;padding-top:15px;border-top:1px dashed #ccc;font-weight:300;}
#mypage .qna_list li .txt{font-weight:300;}
#mypage .qna_list li .sort{top:20px;left:18px;color:#a78d4e;}
#mypage .qna_list li .answer .sort{top:25px;color:#6b3d10;}
#mypage .qna_list li .answer .txt{padding-right:170px;line-height:2;}
#mypage .qna_list li .status{position:absolute;top:20px;right:70px;width:100px;text-align:center;}
#mypage .qna_list li .status.color{color:#806a59;}
#mypage .qna_list li .status.wait{font-weight:400;color:#666;}
#mypage .qna_list .head .tit{padding:15px 170px 15px 80px;}
#mypage .qna_list .head .sort{top:15px;color:#666;}
#mypage .qna_list .head .status{top:15px;}
#mypage .qna_list .paging{margin-top:40px;}
#mypage .join_form h4{font-weight:500;}
#mypage .join_form .invalue{font-size:14px;font-weight:500;color:#333;line-height:1.6}
.complete h4{margin-bottom:70px;font-family:'museo_sans500','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-size:45px;font-weight:300;color:#a78d4e;line-height:1.3;text-align:center !important;}
.complete .txt{padding:45px 0 50px;font-weight:300;font-size:18px;color:#333;line-height:1.4;text-align:center;}
.complete .txt .color{font-weight:500;color:#ed1c24;}
/* point */
.my_point{position:relative;margin:10px 0 30px;}
.my_point .btn_line{position:absolute;bottom:0;right:0;background-color:#f4f3ee;border:1px solid #7f5837;}
.my_point .btn_line span{color:#7f5837;}
.crt_point span{display:block;font-size:18px;font-weight:600;color:#666;}
.crt_point .pt{display:inline-block;margin-top:10px;padding-right:30px;background:url(../../images/common/bg_point.png) no-repeat 100% 13px;font-family:'museo_sans500',sans-serif;font-weight:bold;font-size:45px;color:#a78d4e;}
.disappear_point{display:inline-block;margin-left:10px;margin-top:15px;font-size:18px;font-weight:600;color:#333;}
.disappear_point span{display:inline-block;color:#7d5938;}

/* event */
#event{}
#event .thumb_list .list_search{padding:5px 0 30px;}
#event .thumb_list .img{margin-bottom:20px;}
#event .thumb_list .intro{margin-bottom:10px;font-size:14px;font-weight:500;}
#event .thumb_list .tit{line-height:1.2;margin-bottom:15px;font-size:20px;font-weight:600;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;}
#event .thumb_list .txt{height:65px;font-size:14px;font-weight:300;line-height:1.6;}
#event .thumb_list .date{padding:20px 0 30px;border-top:1px dashed #ccc;font-size:14px;font-weight:300;}
#event .thumb_list .date strong{margin-right:10px;}
#event .tb{margin-top:5px;}
#event .tb th{background-color:#fbf9f6;}
#event .tb td{font-size:14px;font-weight:300;}
#event .tb th,
#event .tb td{color:#666;}
#event .tb .incont{padding:30px 0;line-height:1.6;}
#event .tb .incont p{padding:30px 30px 0;}
#event .btn_wrap{margin-top:30px;}
#point .page_top{padding-bottom:20px;}
.pt_view{font-size:14px;color:#333;}
.pt_view .before_login{line-height:28px;}
.pt_view .after_login{font-weight:600;line-height:28px;}
.pt_view .after_login > span{margin:0 10px;font-size:24px;color:#7d5938;}
.pt_change{position:relative;width:100%;height:289px;margin:33px 0;padding-left:479px;background:url(../../images/members/bg_pt.png) no-repeat 0 0;}
.pt_change .ticket{position:absolute;top:63px;left:49px;}
.pt_change .intxt span{display:block;letter-spacing:-.05em;}
.pt_change .intxt .title{display:inline-block;margin-top:63px;padding-bottom:2px;border-bottom:2px solid #5f420f;font-size:20px;font-weight:600;color:#5f420f;}
.pt_change .intxt .name{margin:25px 0 15px;font-size:35px;font-weight:600;color:#fff;}
.pt_change .intxt .txt{margin-bottom:20px;font-size:18px;color:#fff;}
.pt_change .intxt .button.btn_wh{width:140px;height:40px;line-height:40px;}
.pt_change .intxt .button.btn_wh span{height:40px;line-height:40px;}
.pt_infotxt{}
.pt_infotxt dt{margin-bottom:10px;padding-left:20px;background:url(../../images/common/ico_caution.png) no-repeat 0 50%;font-size:18px;font-weight:600;color:#333;letter-spacing:-.05em}
.pt_infotxt dd{margin-top:5px;font-size:16px;font-weight:300;color:#333;line-height:1.6;letter-spacing:-.05em}

/* Diary */
#diary{padding-top:10px;}
#diary .page_top{margin-top:110px;}
#diary h4{font-family:'museo_sans300';color:#a78d4e;text-align:left;}
#diary .hor_list{}
#diary .tb_viewpage{border-top:none;}
#diary .btn_wrap{margin-top:30px;}
#diary .tab{margin-top:35px;}
#diary .tab li{width:160px;}
	.tb_viewpage .view_top{padding:35px 0 30px	;border-bottom:1px dashed #ccc;}
	.tb_viewpage .category{margin-top:10px;font-size:20px;color:#666;}
	.tb_viewpage .category span{color: #000000; font-size: 26px;}
	.tb_viewpage .date{margin-bottom:5px;font-size:20px;font-weight:300;color:#a78d4e;}
	.tb_viewpage .date strong{margin-right:15px;}
	.tb_viewpage .date span{margin-left:740px; color: #000000; font-size: 16px;}
	.tb_viewpage .title{margin-top:5px;font-size:34px;font-weight:600;color:#333;letter-spacing:-.05em}
	.tb_viewpage .incont{padding:30px 0;}
	.tb_viewpage .incont .contents{margin-bottom:30px;font-size:14px;font-weight:300;color:#666;line-height:1.7;}
	.tb_viewpage .incont .bot_contents{border-top:1px dashed #ccc;}
		.file_wrap{position:relative;padding:18px 0;border-bottom:1px dashed #ccc;overflow:hidden;}
		.file_wrap .tit{font-size:14px;font-weight:500;color:#666;}
		.file_wrap a{font-size:14px;font-weight:300;color:#666;}
		.tag_wrap{position:relative;padding:30px 20px;border-bottom:1px dashed #ccc;overflow:hidden;}
		.tag_wrap .tag{}
		.tag_wrap .tag .tit{display:inline-block;min-height:20px;padding-left:23px;background:url(../../images/common/ico_question.png) no-repeat 0 50%;font-family:'museo_sans500',sans-serif;font-weight:bold;font-size:17px;color:#666;line-height:20px;}
		.tag_wrap .tag .hash{margin-left:12px;font-size:16px;font-weight:300;color:#7d5938;}
		.tag_wrap .share{position:absolute;top:20px;right:20px;}
		.tag_wrap .share a{display:inline-block;height:40px;vertical-align:middle;}
		.tag_wrap .share .btn_print{width:120px;margin-left:7px;border:1px solid #7d5938;}
		.tag_wrap .share .btn_print span{display:inline-block;height:40px;padding-left:30px;background:url(../../images/common/ico_print.png) no-repeat 0 50%; font-size:14px;color:#7d5938;line-height:40px;}
	.smartdiary .list_search{padding:49px 0 30px;}
	.smartdiary ul li{border-bottom:1px dashed #ccc;margin-bottom:20px;}
	.smartdiary ul li .sort{margin-top:15px;}
	.smartdiary ul li .tit{height:46px;margin-top:10px;margin-bottom:20px;font-size:19px;font-weight:600;color:#333;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;width:100%;overflow:hidden;line-height:1.2;}
	.smartdiary ul li .date{padding:0 0 20px;font-size:14px;font-weight:500;color:#a78d4e}
	.smartdiary ul li .date span{display:inline;margin-left:10px;color:#a78d4e;font-weight:300;}
	.smartdiary .paging{margin-top:10px;}
	.happydiary .list_top{padding:50px 0 40px;}
	.happydiary .list_top p{text-align:center;font-size:24px;color:#a78d4e;}
	.happydiary .list_top .hash{margin-bottom:15px;font-size:45px;font-weight:600;color:#333;}
	.happydiary ul li{margin-bottom:30px;}
	.happydiary ul li .img{margin-bottom:20px;}
	.happydiary ul li span.hash{margin-top:10px;font-size:14px;font-weight:300;color:#666;}
	.happydiary ul li span.hash strong{color:#7d5938;}
	.happydiary .count{padding:30px 0 15px;font-size:14px;font-weight:300;color:#6d6e71;text-align:right;}
	.happydiary .paging{margin-top:0;}

/* product */
#product{margin-top:5px;}
#product .tab li{width:320px;}
	.prd_top{margin-bottom:80px;overflow:hidden;}
	.prd_top .detail_view{width:580px;float:left;}
	.prd_top .detail_view .thumbnail{width:70px;float:left;}
	.prd_top .detail_view .thumbnail a{position:relative;display:block;width:70px;height:70px;margin-bottom:2px;}
	.prd_top .detail_view .thumbnail a .off{position:absolute;top:0;left:0;width:70px;height:70px;}
	.prd_top .detail_view .thumbnail a::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #e1e1e1;z-index:10;}
	.prd_top .detail_view .thumbnail a.on::after{border:2px solid #a78d4e;}
	.prd_top .detail_view .thumbnail a.on .off{display:none}
	.prd_top .detail_view .img{position:relative;width:480px;height:480px;overflow:hidden;float:right;}
	.prd_top .detail_view .img::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #e1e1e1;}
	.prd_top .detail_view .img li{position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .5s;transition:opacity .5s;}
	.prd_top .detail_view .img li.on{opacity:1;filter:alpha(opacity=100);}
	.prd_top .detail_info{width:380px;padding:60px 0 0 30px;float:left;}
	.prd_top .detail_info.addbtn{padding-top:30px;}
	.prd_top .detail_info h4{font-size:46px;font-weight:600;color:#333;}	
	.prd_top .detail_info h4 p{margin-top:15px;font-family:'museo_sans100';font-size:24px;font-weight:300;color:#a78d4e}
	.prd_top .detail_info .txt{margin:35px 0 30px;font-size:20px;color:#666;}
	.prd_top .detail_info .prd_info{padding:25px 0;border-top:1px solid #d3c6a6;border-bottom:3px solid #d3c6a6;}
	.prd_top .detail_info .prd_info dl{margin-bottom:20px;font-size:16px;color:#666;line-height:1.4;overflow:hidden;}
	.prd_top .detail_info .prd_info dt{width:110px;font-weight:600;float:left;}
	.prd_top .detail_info .prd_info dd{width:240px;font-weight:300;float:left;}
	.prd_top .detail_info .btn_wrap{margin-top:17px;text-align:left;overflow:hidden;}
	.prd_top .detail_info .btn_wrap .btn{width:165px;border-radius:10px;float:left;}
	.prd_top .detail_info .btn_wrap .btn span{font-size:18px;font-weight:500;}
	.prd_top .detail_info .btn_wrap .btn_line{border:2px solid #a78d4e;}
	.prd_top .detail_info .btn_wrap .btn_line span{font-size:18px;font-weight:500;color:#a78d4e;line-height:46px;}
	.prd_top .detail_info .btn_wrap .btn_buy{width:175px;margin-left:10px;background:#a78d4e;}
	.prd_top .detail_info .btn_wrap .btn_buy span{display:inline-block;padding-left:35px;background:url(../../images/product/ico_cart.png) no-repeat 0 50%;}
	.prd_contents{padding-top:60px;}
	.prd_contents h5{margin-bottom:20px;font-size:20px;font-weight:600;color:#a78d4e;letter-spacing:-.025em;}
	.prd_contents h5 span{margin-left:10px;font-size:14px;font-weight:300;color:#8496a0;}
	.prd_contents h6{margin-bottom:15px;font-size:16px;font-weight:600;color:#666;}
	.prd_contents .tb{position:relative;}
	.prd_contents .tb_unit{position:absolute;top:-35px;right:0;font-size:14px;font-weight:500;color:#8496a0;}
	.prd_contents .tb table th{background-color:#fbf9f6;font-size:14px;vertical-align:middle;}
	.prd_contents .tb table td{padding:15px 20px;font-size:14px;font-weight:300;color:#666;line-height:1.8;letter-spacing:-.07em;word-break:keep-all;}
	.prd_contents .infotxt{padding:25px 0 20px;border-bottom:1px solid #c6c6c6;font-size:14px;font-weight:300;color:#666;line-height:1.6;}
	.prd_contents .infotxt span{display:block;padding-left:7px;margin-bottom:5px;text-indent:-7px;}
	.prd_contents ul{overflow:hidden;}
	.prd_contents li{float:left;}
	.prd_contents .prd_open li{width:470px;}
	.prd_contents .prd_open li:first-child{margin-right:20px;}
	.prd_contents .prd_open li .txt{padding:20px 0 30px 12px;text-indent:-12px;font-size:14px;font-weight:300;color:#666;line-height:1.5;letter-spacing:-.07em;}
	.prd_contents .caution{padding:20px 0;border-top:1px dashed #b2b2b2;}
	.prd_contents .caution dt{font-size:16px;font-weight:600;color:#666;}
	.prd_contents .caution dd{margin-top:10px;font-size:14px;font-weight:300;color:#666;}
	.prd_contents .prd_step{}
	.prd_contents .prd_step li{width:192px;padding:20px 0;text-align:center;}
	.prd_contents .prd_step li .txt{padding:15px 0 10px;font-size:13px;font-weight:300;color:#666;line-height:1.4;letter-spacing:-.1em;}
	.prd_contents .prd_step .infotxt{padding-bottom:0;border-bottom:none;}

.detail_evt{width:960px;margin:0 auto 80px;}
.detail_evt .video{position:absolute;left:54px;top:345px;display:block;width:852px;height:456px;}
.btn_video{position:relative;display:block;width:100%;height:100%;}
.detail_evt .btn_video::before,
.btn_video::after{content:'';position:absolute;display:block;}
.btn_video.on::after{display:none;}
.detail_evt .btn_video::before{bottom:-37px;left:0;width:100%;height:40px;background:url(../../images/common/player_shadow.png) no-repeat 50% 0;}
.btn_video::after{left:50%;top:50%;width:123px;height:117px;margin:-58px 0 0 -61px;background:url(../../images/common/btn_player.png) no-repeat 0 0;}
.btn_video.red::after{background:url(../../images/common/btn_player_red.png) no-repeat 0 0;}
.detail_evt .sec4 .video{top:261px;}

.market{margin-bottom:40px;padding-bottom:20px;border-bottom:1px dashed #ccc;}
.market.offline{margin-bottom:0;}
.market h4{margin-bottom:20px;font-size:20px;font-weight:600;color:#a78d4e;letter-spacing:-.025em;}
.market h4 span{margin-left:10px;font-size:14px;font-weight:300;color:#8496a0;}
.market ul{overflow:hidden;}
.market li{width:310px;margin-right:15px;float:left;}
.market li.right{margin-right:0;}
.market li a{display:block;}
.market li span{display:block;}
.market li .bi{width:100%;height:80px;border:1px solid #beac9b;}
.market li .bi.bi_1{background:url(../../images/product/bi_1.png) no-repeat 50% 50%;}
.market li .bi.bi_2{background:url(../../images/product/bi_2.png) no-repeat 50% 50%;}
.market li .bi.bi_3{background:url(../../images/product/bi_3.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_1{background:url(../../images/product/bi_4.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_2{background:url(../../images/product/bi_5.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_3{background:url(../../images/product/bi_6.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_4{background:url(../../images/product/bi_7.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_5{background:url(../../images/product/bi_8.png) no-repeat 50% 50%;}
.market.offline li .bi.bi_6{background:url(../../images/product/bi_9.png) no-repeat 50% 50%;}
.market li .brand{padding:20px 0 23px;font-size:18px;font-weight:600;color:#666;text-align:center;}

.subscription{position:relative;padding-left:390px;border-bottom:1px solid #c6c6c6;}
.subscription::before{content:'';position:absolute;bottom:0;left:-70px;width:431px;height:793px;background:url(../../images/product/bg_subscription.png) no-repeat 0 0;}
.subscription h4{margin-bottom:45px;font-size:45px;font-weight:500;color:#7d5938;}
.subscription .txt{padding-bottom:45px;background:url(../../images/product/line_subscription.png) no-repeat 0 100%;font-size:20px;font-weight:400;color:#666;line-height:1.6;}
.subscription dl{padding:43px 0;border-bottom:1px solid #c6c6c6;}
.subscription dl.noline{border-bottom:none;}
.subscription dt{margin-bottom:15px;font-size:24px;font-weight:500;color:#a78d4e;}
.subscription dd{margin-top:10px;font-size:18px;font-weight:300;color:#666;}
.subscription_wrap .btn_wrap{margin-top:50px;}
.subscription_wrap .btn_wrap .btn{width:300px;height:70px;border-radius:10px;}
.subscription_wrap .btn_wrap .btn span{font-size:26px;line-height:68px;}

.payment h4{margin-bottom:50px;font-size:45px;font-weight:300;color:#a78d4e;}
.payment .tb table th{background-color:#fbf9f6;font-size:14px;}
.payment .tb table td{font-size:14px;font-weight:300;}
.payment .tb table th span{font-weight:300;}
.payment section{margin-bottom:40px;}
.payment .prd_list .prd{text-align:left;}
.payment .prd_list .prd .img{display:inline-block;margin-right:10px;border:1px solid #c6c6c6;vertical-align:middle;}
.payment .prd_list .prd .tit{display:inline-block;font-size:18px;font-weight:500;color:#666;vertical-align:middle;}
.payment h5{margin-bottom:20px;font-size:20px;font-weight:500;color:#a78d4e}
.payment h5.tit_bot{margin-top:40px;}
.payment h5 a{margin-left:5px;vertical-align:middle;}

.payment_info_wrap{display:block;overflow:hidden;}
.payment_info_wrap .order_info{display:block;width:630px;float:left;}
.payment_info_wrap .order_info .txt{margin-top:10px;font-size:13px;font-weight:300;color:#7d6a59;letter-spacing:-.05em;line-height:1.4;}
.payment_info_wrap .order_info .txt.top{margin-top:0;}
.payment_info_wrap .order_info .agree_wrap{padding:15px 20px;font-size:14px;font-weight:300l;color:#666;}
.payment_info_wrap .order_info .agree_wrap label{cursor:pointer}
.payment_info_wrap .order_info .agree_wrap input{margin:0 5px 0 0;vertical-align:middle;}
.payment_info_wrap .payment_info{display:block;width:330px;padding-left:20px;float:left;}
.delivery_date{min-height:112px;}
.delivery_date ul{position:relative;padding:3px 0;}
.delivery_date ul::before{content:'';position:absolute;top:5%;left:13px;width:1px;height:90%;background-color:#bfb4ac;}
.delivery_date li{position:relative;margin-top:20px;padding:7px 0 7px 40px;background:url(../../images/product/ico_step.png) no-repeat 0 50%;z-index:10;}
.delivery_date li:first-child{margin-top:0}
.delivery_date li strong{color:#806a59;}
.payment_info .tb table td{padding:20px 15px;background-color:#f7f4ed;}
.payment_info td .row{overflow:hidden;}
.payment_info td .row strong{display:inline-block;width:50%;font-size:14px;font-weight:500;color:#666;float:left;}
.payment_info td .row span{display:inline-block;width:50%;font-size:14px;font-weight:300;text-align:right;float:right;}
.payment_info td .txt{font-size:14px;font-weight:300;color:#7d5938;}
.payment_info td .txt{margin-top:10px;}
.payment_info td.total .row strong{font-size:24px;color:#333;}
.payment_info td.total .row span{font-size:24px;font-weight:600;color:#7d5938;}
.payment_info td.total .txt{margin-top:10px;line-height:1.4;}
.payment_info td.delivery_price .row strong,
.payment_info td.delivery_count .row strong{color:#333;letter-spacing:-.05em;}
.payment_info td.delivery_price .row span,
.payment_info td.delivery_count .row span{font-weight:500;color:#7d5938;}
.payment_info .btn_next{width:100%;margin-top:20px;background-color:#7d5938;}
.payment_info .btn_next span{color:#fff;}
.payment_info .btn_line{width:100%;margin-top:10px;}


.order_complete{}
.order_complete h4{margin-bottom:60px;font-size:45px;font-weight:300;color:#a78d4e;text-align:center;line-height:1.2;}
.order_caution{padding:45px 0;font-size:24px;font-weight:300;color:#666;text-align:center;line-height:1.4;}
.order_caution strong{color:#333;}
.delivery_step ul{position:relative;overflow:hidden;}
.delivery_step ul::before{content:'';position:absolute;top:30px;left:0;width:100%;height:90px;background-color:#f7f4ed;border-radius:100px;z-index:-1;}
.delivery_step ul::after{content:'';position:absolute;top:75px;left:5%;width:90%;height:1px;background-color:#bbafa3;z-index:-1;}
.delivery_step li{width:192px;float:left;}
.delivery_step li span{display:block;text-align:center;}
.delivery_step li.step01{padding-right:92px;}
.delivery_step li.step02{padding-right:46px;}
.delivery_step li.step03{}
.delivery_step li.step04{padding-left:46px;}
.delivery_step li.step05{padding-left:92px;}

.delivery_step li span.step{font-size:18px;color:#806a59;}
.delivery_step li span.ico{margin:35px 0;}
.delivery_step li span.date{font-size:25px;color:#333;}
.caution_txt{width:615px;margin:35px auto 50px;font-size:14px;color:#666;}
.caution_txt li{padding:0 0 10px 10px;background:url(../../images/common/dot.png) no-repeat 0 5px;line-height:1.2;}
.order_complete .tb{margin-bottom:40px;}
.order_complete .tb table td{font-size:14px;font-weight:300;color:#666;}
.order_complete .process h5{margin-bottom:25px;font-size:20px;font-weight:500;color:#a78d4e;}
.order_complete .process > ul{overflow:hidden;}
.order_complete .process > ul > li{position:relative;width:184px;margin-right:10px;float:left;}
.order_complete .process > ul > li::before{content:'';position:absolute;top:32px;right:-10px;width:21px;height:60px;background:url(../../images/product/process_right.png) no-repeat 0 0;}
.order_complete .process > ul > li.process05{margin-right:0;}
.order_complete .process > ul > li.process05::before{display:none;}
.order_complete .process > ul > li span{display:block;text-align:center;}
.order_complete .process > ul > li span.tit{padding:30px 0 40px;font-size:18px;font-weight:500;color:#333;border-bottom:1px dashed #c6c6c6;}
.order_complete .process > ul > li .txt{padding-top:20px;}
.order_complete .process > ul > li .txt li{margin-top:10px;padding-left:10px;background:url(../../images/common/dot.png) no-repeat 0 5px;font-size:14px;font-weight:300;color:#666;line-height:1.6;}
.order_complete .btn_wrap{margin-top:30px;}


#story h3{font-size:36px;font-weight:600;color:#333;line-height:1.2;letter-spacing:-.07em}
#story .toptxt{text-align:center;}
.brandstory .topimg{height:430px;margin-bottom:30px;background:url(../../images/story/brand_topimg.png) no-repeat 50% 0;}
#story .brandstory .toptxt h3{margin:10px 0 45px 50px;font-size:26px;text-align:left;line-height:1.3;}
.brandstory .txt{margin:0 50px;background:url(../../images/story/brand_logo.png) no-repeat 100% 100%;font-size:20px;font-weight:300;color:#666;letter-spacing:-.05em;line-height:1.6;}
.brandstory .txt strong{display:block;margin-top:50px;font-size:26px;font-weight:600;color:#333;letter-spacing:-.05em;line-height:1;}
.productstory .txt{margin-top:100px;padding-top:655px;background:url(../../images/story/product_img.png) no-repeat 50% 0;}
.coltxt{overflow:hidden;}
.coltxt dl{position:relative;width:320px;text-align:center;float:left;}
.coltxt dl::before{content:'';position:absolute;top:30px;left:0;width:1px;height:90px;background-color:#c6c6c6;}
.coltxt dl:first-child::before{display:none;}
.coltxt dt{margin-bottom:15px;font-size:24px;font-weight:600;color:#a78d4e;letter-spacing:-.05em;}
.coltxt dt span{font-size:14px;}
.coltxt dd{font-size:17px;font-weight:300;color:#666;letter-spacing:-.05em;line-height:1.4;}
.productstory .btn_wrap{margin-top:60px;}
.productstory .btn_wrap .btn{width:200px;margin:0 8px;}

.irelandstory section{margin-bottom:60px;}
.irelandstory .toptxt{text-align:center;}
.irelandstory .toptxt h3{margin-bottom:50px;}
.irelandstory .video{margin-bottom:60px;}
.irelandstory .sec02 h3,
.irelandstory .sec03 h3{margin-bottom:25px;}
.irelandstory .sec02 p.sub{font-size:20px;font-weight:300;color:#666;}
.irelandstory .graph_wrap img{margin-top:40px;}
.irelandstory .sec03 .txt{margin-top:20px;font-size:18px;font-weight:300;color:#666;letter-spacing:-.03em;line-height:1.8;}
.irelandstory .sec03 .txt img{vertical-align:middle;}
.irelandstory .sec03 .txt .img{margin-top:40px;}
.irelandstory .sec03 h4{margin:50px 0 25px;font-size:24px;font-weight:600;color:#a78d4e;letter-spacing:-.05em}
.irelandstory .btn_wrap .btn{width:240px;margin:0 8px;}

.opostory h3{margin-bottom:50px;}
.opostory ul{margin-top:60px;overflow:hidden;}
.opostory li{width:472px;padding-top:1030px;background:url(../../images/story/opo_popimg.png) no-repeat 0 0;float:left;}
.opostory li.illlumaopo{margin-left:16px;background:url(../../images/story/opo_illuma.png) no-repeat 0 0;}
.opostory li .tit{margin-bottom:15px;font-size:24px;font-weight:600;color:#a78d4e;}
.opostory li .txt{font-size:20px;font-weight:300;color:#666;line-height:1.4;}
.opostory li .txt .sm{font-size:16px;color:#adadad;}

.weythstory h3{margin-bottom:50px;}
.weythstory .video{margin-bottom:70px;}
.weythstory .midtxt{height:650px;background:url(../../images/story/bg_wyeth.png) no-repeat 50% 100%;}
.weythstory .txt{padding-left:392px;font-size:21px;font-weight:300;color:#666;letter-spacing:-.05em;line-height:1.4;}
.weythstory .history{;margin-top:-40px;}
.weythstory .history ul{position:relative;}
.weythstory .history ul::before{content:'';position:absolute;top:10px;left:50%;width:1px;height:88%;background-color:#e2001a;}
.weythstory .history li{position:relative;width:50%;margin-left:50%;padding-left:35px;height:128px;}
.weythstory .history li::before{content:'';position:absolute;top:10px;left:-8px;width:16px;height:16px;background-color:#e2001a;border-radius:100%;}
.weythstory .history li.left{margin-left:0;padding-right:35px;text-align:right;}
.weythstory .history li.left::before{left:inherit;right:-9px;}
.weythstory .history li.crt::before{background-color:#fff;border:5px solid #e2001a;z-index:1;}
.weythstory .history li.crt::after{content:'';position:absolute;top:2px;right:-17px;width:32px;height:32px;background:#fff;border:2px solid #e2001a;border-radius:100%;z-index:0;}
.weythstory .history li p{margin-bottom:15px;font-family:'museo_sans500';font-weight:bold;font-size:38px;color:#e2001a;}
.weythstory .history li strong{margin-bottom:10px;display:block;font-size:20px;font-weight:600;color:#666;}
.weythstory .history li span{font-size:17px;font-weight:300;color:#666;line-height:1.4;letter-spacing:-.05em;}
.weythstory .history .logo{text-align:center;}

.disable{opacity:.3;filter:alpha(opacity=30);}

/* main */
.mainpage{padding-bottom:80px;}
#myVideo{width:100%;}
.main_visual{margin-bottom:80px;}
.main_visual .video{display:block;width:100%;height:896px;background-image:url(../../images/main/main_visual_move.png);background-position:50% 50%;background-size:cover}
.main_video{position:relative;width:100%;margin-bottom:80px;height:500px;text-align:center;overflow:hidden;}
.main_video a{display:block;position:absolute;top:50%;left:0;width:100%;height:auto;}
.main_video video{width:100%;min-width:960px;}
.main_slide .slider > div{position:relative;z-index:10;}
.main_sld_video{max-height:780px;;overflow:hidden;}
.main_sld_video a{position:relative;display:block;max-height:780px;}
.main_sld_video a video{position:absolute;top:0;left:0;width:100%;background:url(../../images/main/main_visual.png) no-repeat 50% 50%;background-size:cover;}
.bx-wrapper .bx-pager{}
.main_banner{margin-bottom:80px;overflow:hidden;}
.main_banner .banner{width:480px;height:360px;background:url(../../images/main/main_banner1.png) no-repeat 0 0;float:left;}
.main_banner .opo{background:url(../../images/main/main_banner2.png) no-repeat 0 0;}
.main_banner .banner a{margin:250px 0 0 160px;width:160px;height:40px;}
.main_banner .banner a span{padding-left:16px;background:url(../../images/main/btn_arr.png) no-repeat 0 50%;font-size:16px;line-height:40px;}
.main_join,
.main_delivery{padding:60px 0;background-color:#f6f6f6;}
.main_join .prd,
.main_delivery .prd{position:absolute;top:-115px;left:-40px;}
.main_join .box{padding-left:350px;}
.main_delivery .box{padding-left:325px;}
.main_join .box h3,
.main_delivery .box h3{width:180px;height:50px;border-bottom:1px solid #bdb2a7;}
.main_join .box > p,
.main_delivery .box > p{margin:15px 0 35px;font-size:15px;color:#806a59;}
.main_join .box .box_bot{overflow:hidden;}
.main_join .box .box_bot > div{width:285px;padding-left:65px;background:url(../../images/main/bg_join_event.png) no-repeat 0 0;float:left;}
.main_join .box .box_bot > div > p{font-size:20px;font-weight:500;color:#806a59;letter-spacing:-.05em;}
.main_join .box .box_bot > div .button{width:120px;height:40px;margin-top:13px;background-color:#fff;border:1px solid #754c2b;}
.main_join .box .box_bot > div .button span{padding-left:16px;background:url(../../images/main/btn_arr.png) no-repeat 0 50%;font-size:16px;color:#7d5938;line-height:38px;}
.main_join .box .box_bot > .join_point{background:url(../../images/main/bg_join_point.png) no-repeat 0 0;}
.main_join .box .box_bot > .join_point .button{width:170px;}
.main_delivery .box .box_bot span{display:inline-block;margin-left:15px;padding:20px 0 15px 55px;background:url(../../images/main/delivery1.png) no-repeat 0 50%;font-size:18px;font-weight:600;color:#806a59;letter-spacing:-.05em;}
.main_delivery .box .box_bot span.step2{background:url(../../images/main/delivery2.png) no-repeat 0 50%;}
.main_delivery .box .box_bot span.step3{background:url(../../images/main/delivery3.png) no-repeat 0 50%;}
.main_delivery .box .box_bot span:first-child{margin-left:0;}
.main_delivery .box .button{width:170px;height:40px;margin-top:20px;background-color:#fff;border:1px solid #754c2b;}
.main_delivery .box .button span{padding-left:16px;background:url(../../images/main/btn_arr.png) no-repeat 0 50%;font-size:16px;color:#7d5938;line-height:38px;}


.main_instagram{margin-top:60px;}
.main_instagram h3{width:240px;height:50px;margin:0 auto;border-bottom:1px solid #bdb2a7;text-align:center;}
.main_instagram p.txt{margin:20px 0 40px;font-family:'museo_sans500';color:#806a59;text-align:center;letter-spacing:.6em; }
.main_instagram .sns_wrap{overflow:hidden;}
.main_instagram .sns_wrap li{width:184px;height:184px;float:left;margin:0 10px 10px 0;}
.main_instagram .sns_wrap li.right{margin-right:0;}
.main_instagram .btn_wrap{margin-top:20px;}
.main_instagram .btn_wrap .btn{height:40px;}
.main_instagram .btn_wrap .btn span{height:38px;padding-left:16px;background:url(../../images/main/btn_arr.png) no-repeat 0 50%;font-family:'museo_sans500';font-weight:bold;font-size:16px;line-height:40px;}






/* site map */
#sitemap{padding:125px 0 80px}
#sitemap .page_top{padding-bottom:45px;}
#sitemap .page_body{overflow:hidden;}
#sitemap dl{width:184px;margin-right:10px;border-top:2px solid #d3c6a6;float:left;text-align:center;}
#sitemap dl:last-child{margin-right:0;}
#sitemap dt span{display:block;height:59px;padding-top:20px;background-color:#f7f4ed;border-bottom:1px solid #c6c6c6;font-family:'museo_sans500';font-size:16px;font-weight:bold;color:#7d5938;line-height:1.2;}
#sitemap dt span.line2{padding-top:10px;}
#sitemap dd span{display:block;height:59px;border-bottom:1px solid #c6c6c6;font-family: 'museo_sans300','Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움';font-size:16px;color:#6d6e71;line-height:59px;}
#sitemap dd ul{padding:0 20px;background-color:#fafafa;border-bottom:1px solid #c6c6c6;}
#sitemap dd li{height:59px;border-bottom:1px dashed #c6c6c6;line-height:59px;}
#sitemap dd li a{font-size:16px;color:#6d6e71;}
#sitemap dd li:last-child{border-bottom:none}

/* bxslider */
.bx-wrapper{margin-bottom:80px;box-shadow:none;border:none;background:none;}
.bx-wrapper img{margin:0 auto;}
.main_slide{position:relative;text-align:center;}

.controls{position:absolute;bottom:30px;width:100%;height:15px;text-align:center;}
.controls .btn_play{display:inline-block;width:15px;height:15px;background:url(../../images/main/btn_play.png) no-repeat 0 0;vertical-align:middle;}
.controls .btn_play.stop{background:url(../../images/main/btn_stop.png) no-repeat 0 0;}
.controls .btn_num{display:inline-block;width:12px;height:12px;margin:1px 5px 0;background-color:#76726d;border-radius:100%;vertical-align:middle;}
.controls .btn_num.on{background-color:#000000;}

/* calendar */
#calendar{background:url(../../images/common/bg_cal.png) no-repeat 100% 50%;}
.ui-widget-content{width:438px;background:#fff;border:1px solid #cabb95;border-radius:0;}
.ui-datepicker{padding:0;z-index:1000 !important;}
.ui-datepicker .ui-datepicker-header{height:170px;padding:25px 0 35px;background:#d9c08b;border:none;border-radius:0;}
.ui-icon{width:24px;height:46px;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{top:60px;cursor:pointer;}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus{border:none;background:none;}
.ui-datepicker .ui-datepicker-prev{left:85px;}
.ui-datepicker .ui-datepicker-next{right:85px;}
.ui-datepicker .ui-datepicker-prev span{background:url(../../images/common/cal_left.png) no-repeat;}
.ui-datepicker .ui-datepicker-next span{background:url(../../images/common/cal_right.png) no-repeat;}
.ui-datepicker .ui-datepicker-title{margin:0;padding:0;height:110px;}
.ui-datepicker-year{position:absolute;top:30px;left:50%;width:100px;margin-left:-50px;text-align:center;font-family:'museo_sans500';font-size:27px;color:#fff;}
.ui-datepicker-month{position:absolute;top:65px;display:block;left:50%;width:100px;height:70px;margin-left:-50px;text-align:center;font-family:'museo_sans300';font-size:75px;font-weight:normal;color:#fff;line-height:1;}
.ui-datepicker table{width:420px;margin:10px 9px;}
.ui-datepicker th{height:50px;padding:0;font-size:21px;font-weight:600;color:#666;text-align:center;}
.ui-datepicker th:first-child{color:#ac8d42;}
.ui-datepicker td{width:60px;height:50px;font-size:21px;color:#333;font-family:'museo_sans200';font-weight:normal;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{font-family:'museo_sans100';opacity:.5;filter:alpha(opacity=50);}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{display:block;width:48px;height:48px;padding:0;background:none;border:none;border-radius:100%;text-align:center;line-height:48px;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#806a59;color:#fff;}


/* modal */
.modal{display:none;position:absolute;z-index:1000;}
.modal_info{top:800px;left:60px;width:389px;height:403px;background:url(../../images/main/bg_modal.png) no-repeat 0 0;border-radius:10px;box-shadow: 10px 10px 50px rgba(0,0,0,.2);}
.modal_info .modal_wrap{position:relative;padding:60px 30px 0;text-align:center;}
.modal_info .modal_wrap::after{content:'';position:absolute;top:-58px;left:50%;width:113px;height:116px;margin-left:-56px;background:url(../../images/main/modal_top.png) no-repeat 0 0;}
.modal_info .modal_wrap .tit{margin-bottom:15px;font-size:24px;font-weight:600;color:#6b3d10;line-height:1.2;}
.modal_info .modal_wrap .txt{margin-bottom:15px;font-size:16px;font-weight:300;color:#666;line-height:1.4;}
.modal_info .modal_wrap .chk_wrap{margin-top:15px;padding-top:15px;border-top:1px solid #c6c6c6;font-size:16px;color:#666;}

.modal_pop{display:none;position:absolute;z-index:1000;}
.modal_info_pop{top:800px;left:60px;width:389px;height:403px;border-radius:10px;}
.modal_info_pop .modal_wrap{position:relative;padding:60px 30px 30px;background:#fff;border:3px solid #dfcb93;border-radius:15px;text-align:center;}
.modal_info_pop form .modal_wrap{padding:30px;}
.modal_info_pop .modal_wrap::after{content:'';position:absolute;top:-58px;left:50%;width:113px;height:116px;margin-left:-56px;}
.modal_info_pop .modal_wrap .tit{margin-bottom:15px;font-size:24px;font-weight:600;color:#6b3d10;line-height:1.2;}
.modal_info_pop .modal_wrap .txt{margin-bottom:15px;font-size:16px;font-weight:300;color:#666;line-height:1.4;}
.modal_info_pop .modal_wrap .chk_wrap{margin-top:15px;padding-top:15px;border-top:1px solid #c6c6c6;font-size:16px;color:#666;}

.modal_alert,
.modal_apply{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);}
.modal_alert .modal_wrap{position:absolute;top:50%;left:50%;width:520px;margin-top:-180px;margin-left:-260px;background-color:#fff;}
.modal_alert .modal_wrap .modal_top{position:relative;height:80px;background:#d9c08a;font-size:28px;font-weight:500;color:#fff;text-align:center;line-height:80px;}
.modal_alert .modal_wrap .modal_top .btn_close,
.modal_apply .modal_wrap .modal_top .btn_close{position:absolute;top:25px;right:19px;}
.modal_alert .modal_wrap .modal_body{padding:35px 22px 40px;}
.modal_alert .modal_wrap .modal_body .incont{padding-bottom:30px;font-size:16px;color:#666;text-align:center;line-height:1.6;}
.modal_alert .modal_wrap .modal_body hr{border-top:1px dashed #ccc;}
.modal_alert .modal_wrap .modal_body .btn_wrap{margin-top:30px;}
.modal_alert .modal_wrap .modal_body .btn_wrap a,
.modal_apply .modal_wrap .modal_body .btn_wrap a{margin:0 8px;}

.modal_apply{overflow-y:auto;}
.modal_apply .modal_wrap{position:absolute;top:100px;left:50%;width:520px;margin-bottom:100px;margin-left:-260px;background-color:#fff;}
.modal_apply .modal_wrap .modal_top{position:relative;height:80px;border-bottom:3px solid #d3c6a6;font-size:28px;font-weight:500;color:#a78d4e;text-align:center;line-height:80px;}
.modal_apply .modal_wrap .modal_body{padding:35px 20px 50px;}
.modal_apply .modal_wrap .modal_body .apply_top{margin-bottom:20px;font-size:18px;font-weight:300;color:#666;}
.modal_apply .modal_wrap .modal_body .apply_top strong{display:block;margin-bottom:10px;color:#333;}
.modal_apply .modal_wrap .modal_body .tit{display:block;margin:25px 0 20px;font-size:20px;color:#666;}
.modal_apply .modal_wrap .modal_body textarea{width:100%;padding:10px;min-height:200px;color:#ccc;}
.modal_apply .modal_wrap .modal_body .filebox{margin:15px 0 20px;}
.modal_apply .modal_wrap .modal_body .filebox .ipt_box{width:405px;}
.modal_apply .modal_wrap .modal_body .apply_info li{padding-left:10px;margin-bottom:5px;font-size:14px;color:#806a59;text-indent:-10px;line-height:1.6;}
.modal_apply .modal_wrap .modal_body .apply_info p{margin:45px 0 35px;font-size:14px;font-weight:bold;color:#333;}