{ #layout_header }
{ #menu_gnb }

<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/event/event_index">Goldendrop Members</a><span>/</span><strong>Event</strong>
    </div>
    <section id="event" class="page_wrap">
        <div class="container">
            <div class="tb">
                <table>
                    <colgroup>
                        <col width="200px">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th><label>이벤트</label></th>
                        <td><strong>{E_TITLE}</strong></td>
                    </tr>
                    <tr>
                        <th><label>기간</label></th>
                        <td>{=substr(E_STRDATE, 0, 10)} ~ {=substr(E_ENDDATE, 0, 10)}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="incont">
                            <div class="contents">
                                <p>{E_CONTENT}</p>
                            </div>
                        </td>
                    </tr>

                        {point_txt}

                    <tr>
                        <th>이전글</th>
                        {? prev_event_idx}
                        <td><a href="javascript:move_url('{prev_event_idx}')" class="btn_listnav"><strong>{prev_event_title}</strong></a></td>
                        {:}
                        <td><a href="#" onclick="return false;" class="btn_listnav"><strong>이전글이 없습니다.</strong></a></td>
                        {/}
                        
                    </tr>
                    <tr>
                        <th>다음글</th>
                        {? next_event_idx}
                        <td><a href="javascript:move_url('{next_event_idx}')" class="btn_listnav"><strong>{next_event_title}</strong></a></td>
                        {:}
                        <td><a href="#" onclick="return false;"  class="btn_listnav"><strong>다음글이 없습니다.</strong></a></td>
                        {/}
                        
                        
                    </tr>

                    </tbody>
                </table>
                <div class="btn_wrap">
                    <a href="javascript:move_list();" class="btn btn_next"><span>목록</span></a>
                </div>
                <form name="frm_view" id="frm_view" method="get" action="/event/event_view">
                    <input type="hidden" name="per_page" id="per_page" value="{per_page}">
                    <input type="hidden" name="e_idx" id="e_idx" value="">
                    <input type="hidden" name="search_date" id="search_date" value="{search_date}">
                </form>
                <input type="hidden" id="user_code" name="user_code" value="{user_code}">
                <input type="hidden" id="e_point" name="e_point" value="{E_POINT}">
            </div>

        </div>
    </section>
</article>

<script type="text/javascript">
    function move_url(idx){
        $("#e_idx").val(idx);
        $("#frm_view").submit();
    }

    function move_list(){
        $("#frm_view").attr("action","event_index");
        $("#frm_view").submit();
    }

    function event_entry(idx,state){

        var usercode = $('#user_code').val();
        var tmp_point = $('#e_point').val();

        if(usercode == null || usercode == ""){
            if (confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까??')) {
                location.href='/login/index';
            }
        }else{
            if (idx < 0) {
                alert("잘못된 접근입니다. 다시 시도해 주시기 바랍니다.");
            } else {
                $.get("/event/event_entry_chk",
                    {
                        idx: idx,
                        state: state,      // U:적립 , D:차감
                        tmp_point: tmp_point
                    },
                    function (rslt) {
                        if (rslt == "Y") {
                            alert("응모 되었습니다.");
                            location.reload();
                        } else {
                            alert("중복 응모입니다.");
                            location.reload();
                        }
                    });

            }
        }
    }

</script>

{ #layout_footer }