{ #layout_header }
{ #menu_gnb }

<script type="text/javascript">
    function search_submit() {
        $('#search_frm').submit();
    }
 </script>

<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/event/event_index">Goldendrop Members</a><span>/</span><strong>Event</strong>
    </div>
    <section id="event" class="page_wrap">
        <div class="container">
            <div class="thumb_list">
                <form class="frmEstimate" name="search_frm" id="search_frm"  method="get" action="/event/event_index">
                    <div class="list_search">
                        <div class="select ipt_box sz_md">
                            <span>전체</span>
                            <select name="search_date" id="search_date">
                                <option value="">전체</option>
                                <option value="chk_date_now" {? search_date== "chk_date_now" } selected{/}>진행 중 이벤트</option>
                                <option value="chk_date_pass" {? search_date== "chk_date_pass" } selected{/}>지난 이벤트</option>
                            </select>
                        </div>
                        <a href="javascript:search_submit();" class="btn btn_inner"><span>조회</span></a>
                    </div>
                    <script type="text/javascript">
                        $(function(){
                            var _txt = $("#search_date option:selected").text();
                            if(_txt){
                                $(".select span").html(_txt)
                            }
                        })
                    </script>
                </form>
                <ul class="col2">
                    {@ list}
                    <li onclick="javascript:move_url('{.E_IDX}');" {?((.index_+1)%2)==0}class="right"{/}>
                        <a href="#">
                            <span class="img"><img src="http://dartz.swtown.co.kr{.E_PATH}{.E_FILENAME}" alt="" style="width: 470px; height: 140px;"></span>
                            <span class="intro gd">{.E_SUBJECT}</span>
                            <span class="tit bk">{.E_TITLE}</span>
                            <span class="txt">{=substr(.E_STRDATE, 0, 10)} ~ {=substr(.E_ENDDATE, 0, 10)} {.content_txt}</span>
                            <span class="date gd"><strong>No. {start_no-.index_}</strong> {=substr(.E_CREDATE, 0, 10)} </span>
                        </a>
                    </li>
                    {/}
                </ul>
                {pagination}
            </div>
        </div>
    </section>
    <form class="frmMod" action="/event/event_view" method="get">
        <input type="hidden" name="per_page" id="per_page" value="{per_page}">
        <input type="hidden" name="search_date" id="search_date" value="{search_date}">
        <input type="hidden" name="e_idx" id="e_idx" value="">
    </form>
</article>

<script type="text/javascript">
    function move_url(idx) {
        $('#e_idx').val(idx);
        $('.frmMod').submit();
    }

</script>
{ #layout_footer }