{ #layout_header }
{ #menu_gnb }
<article id="contents">
        <section id="search" class="page_wrap">
        	<form action="/search/index" method="get" name="frm_search" id="frm_search">
            <div class="container">
                <div class="page_top">
                    <h4>검색</h4>
                    <div class="search_box">
                        <input type="search" name="search_S" id="search_S" class="ipt_box" value="{search_S}">
    
                        <button onclick="search_typechk();" class="btn_srch">조회</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="search_type" id="search_type" value="{search_type}">
            </form>
            <div class="search_list">
                <div class="tab">
                    <ul>                    	
                    	<li {? search_type=="text"||search_type==''} class="on"{/}><a href="#" onclick="frm_submit('text');" role="button"><span>Text</span></a></li>
                    	{@ taglist}
                    	<li {? search_type==.ST_IDX} class="on"{/}><a href="#"  onclick="frm_submit('{.ST_IDX}');" role="button"><span>{.ST_TITLE}</span></a></li>
                    	{/}
                    </ul>
                    <script type="text/javascript">
                        $(function(){
                            $(".tab li a").on("click", function(){
                                var $tab = $(this).parent();
                                var _idx = $tab.index();
                                if(!$tab.hasClass("on")){
                                    $(".tab .on,.tab-contents.on").removeClass("on");    
                                    $(".tab li:eq("+_idx+"),.tab-contents:eq("+_idx+")").addClass("on");
                                }
                            })
                        })
                    </script>
                </div>
                {? search_type=="text" || search_type==""}
                <div class="container">
                    <div class="tab-contents on text_list">
                    	<ul class="list">
                    		{? count(list)==0}
                    		<li><span class="tit none noline">검색 된 내용이 없습니다.</span></li>
                    		{:}
	                       	{@ list}
	                       	<li>
						        <a href="{.url}" role="button" target="_blank">
						            <span class="tit">{.title}</span>
						            <span class="txt">{.content}</span>
						        </a>
						    </li>
	                       	{/}
	                       	{/}
						</ul>
						{pagination}
                    </div>

                    <div class="tab-contents  tag_list">
                        
                    </div>
                </div>
                {:}
                <div class="container">
                    <div class="tab-contents text_list">
                       	
                    </div>

                    <div class="tab-contents on tag_list">
                        <ul class="list">
                        	{? count(list)==0}
                    		<li><span class="tit none noline">검색 된 내용이 없습니다.</span></li>
                    		{:}
	                       	{@ list}
	                       	<li>
						        <a href="{.url}" role="button" target="_blank">
						            <span class="tit">{.title}</span>
						            <span class="txt">{.content}</span>
						        </a>
						    </li>
	                       	{/}
                       	    {/}
						</ul>
						{pagination}
                    </div>
                </div>
                {/}
            </div>
        </section>
    </article>
    <script>
    function search_typechk(){
    	$("#search_type").val("text");
    } 
    
    function frm_submit(type){
    	$("#search_type").val(type);
    	$("#frm_search").submit();
    }
    $(document).ready(function() {
    	//X 택스트,T 태그
    	//get_page('X');
    	//_page('T');  
	 });

    </script>
{ #layout_footer }