{ #layout_header }
{ #menu_gnb }
<article id="contents">
    <div class="location">
        <a href="/">Home</a><span>/</span><a href="/shop/step1">Goldendrop Shop</a><span>/</span><a href="/shop/step1">Product</a><span>/</span><strong>구입처</strong>
    </div>
    <section id="product" class="page_wrap">
        <div class="container">
            <section class="market online">
                <h4>온라인 구입처<span>배너 클릭 시 구매 가능한 페이지로 연결됩니다</span></h4>
                <ul>
                    <li>
                        <a href="http://www.gmarket.co.kr/" target="_blank">
                            <span class="bi bi_1"></span>
                            <span class="brand">G마켓</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.11st.co.kr/"   target="_blank">
                            <span class="bi bi_2"></span>
                            <span class="brand">11번가</span>
                        </a>
                    </li>
                    <li class="right">
                        <a href="http://www.auction.co.kr/"   target="_blank">
                            <span class="bi bi_3"></span>
                            <span class="brand">옥션</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="market offline">
                <h4>오프라인 구입처</h4>
                <ul>
                    <li>
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_1"></span>
                            <span class="brand">이마트</span>
                        <!--/a-->
                    </li>
                    <li>
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_2"></span>
                            <span class="brand">롯데마트</span>
                        <!--/a-->
                    </li>
                    <li class="right">
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_3"></span>
                            <span class="brand">홈플러스</span>
                        <!--/a-->
                    </li>
                    <li>
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_4"></span>
                            <span class="brand">현대백화점</span>
                        <!--/a-->
                    </li>
                    <li>
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_5"></span>
                            <span class="brand">신세계백화점</span>
                        <!--/a-->
                    </li>
                    <li class="right">
                        <!--a href="#"  onclick="alert_ready();return false;"-->
                            <span class="bi bi_6"></span>
                            <span class="brand">롯데백화점</span>
                        <!--/a-->
                    </li>
                </ul>
            </section>
        </div>
    </section>
</article>
{ #layout_footer }