{ #layout_header }
{ #menu_gnb }
<article id="contents" class="mainpage">
    <div class="main_slide">
        <div class="slider">
            <div><img src="/images/main/main_slide_banner.png" alt=""></div>
            <div><img src="/images/main/main_slide_banner.png" alt=""></div>
        </div>
        <div class="controls">
            <a href="#" class="btn_play"></a>
            <a href="#" onclick="mainsld.goToSlide(0);return false;" class="btn_num on"></a>
            <a href="#" onclick="mainsld.goToSlide(1);return false;" class="btn_num"></a>
        </div>
    </div>
    <script>
        var mainsld;
        $(function(){
            mainsld = $('.slider').bxSlider({
                controls:false,
                auto:true,
                autoHover:true,
                pager:false,
                onSlideAfter:function(){
                    pagerfn(mainsld.getCurrentSlide());
                }
            });
            $(".btn_play").on("click",function(){
                if($(this).hasClass("stop")){
                    mainsld.startAuto();
                }else{
                    mainsld.stopAuto();
                }
                $(this).toggleClass('stop');
            })
        });

        function pagerfn(num){
            var num = num;
            $(".controls .btn_num.on").removeClass("on");
            $(".controls .btn_num:eq("+num+")").addClass("on");
        }
    </script>

    <section class="main_banner">
        <div class="container">
            <div class="banner ireland">
                <a href="/story/product_lreland" class="button btn_wh"><span>자세히 보기</span></a>
            </div>
            <div class="banner opo">
                <a href="/story/product_opo" class="button btn_wh"><span>자세히 보기</span></a>
            </div>
        </div>
    </section>

    <section class="main_delivery">
        <div class="container">
            <div class="delivery_wrap">
                <div class="prd"><img src="/images/main/prd.png" alt=""></div>
                <div class="box">
                    <h3><img src="/images/main/tit_delivery.png" alt="정기배송"></h3>
                    <p>정기 배송을 통해 편리하게 일루마를 만나보세요</p>
                    <div class="box_bot">
                        <span class="step1">우리 아기 월령에 맞추어</span>
                        <span class="step2">원하는 시기에</span>
                        <span class="step3">원하는 횟수만큼 주문!</span>
                    </div>
                    <a href="#" onclick="alert_ready();return false;" class="button"><span>주문 하러 가기</span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="main_instagram">
        <div class="container">
            <h3><img src="/images/main/tit_insta.png" alt="인스타그랩"></h3>
            <p class="txt">INSTAGRAM</p>
            <div class="sns_wrap">
                <ul>
                    {@ instar}
                        <li {?((.index_+1)%5)==0}class="right"{/} style=""><a href="https://www.instagram.com/p/{.ID_URL}" target="win_1"><img src="{.ID_IMG_SRC}" alt=""></a></li>
                    {/}
                </ul>
            </div>
            <div class="btn_wrap">
                <a href="/diary/happy?H_TYPE=" class="btn btn_round"><span>MORE</span></a>
            </div>
        </div>
    </section>

</article>

<script type="text/javascript">
    var modal = {
        open:function(obj){
            var $obj = $(".modal_"+obj);
            $obj.show();
        },
        close:function(obj){
            var $obj = $(".modal_"+obj);
            $obj.hide();
        }
    }
</script>

{ #layout_footer }